#page-wrapper { background: url('/agentexpolanet/media/images/new-bg.png') repeat-x transparent; }
#page { background: url('/agentexpolanet/media/images/new-header-bg.png') transparent no-repeat; background-position: center top; }
.discrete {font-size:0.85em;}

.dashboard #header {
    background: #7c7c7c; /* Old browsers */
    background: -moz-linear-gradient(top,  #7c7c7c 0%, #383838 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#383838)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7c7c7c 0%,#383838 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7c7c7c 0%,#383838 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7c7c7c 0%,#383838 100%); /* IE10+ */
    background: linear-gradient(top,  #7c7c7c 0%,#383838 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7c7c', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
    color: #fff;
}
#header h1{
    color:#fff;
}

#header a:link, #header a:visited {
    color: #DF0000;
}

.module h2, .module caption, .inline-group h2 {
    background: #356aa0; /* Old browsers */
    background: -moz-linear-gradient(top,  #356aa0 0%, #3366dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#356aa0), color-stop(100%,#3366dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #356aa0 0%,#3366dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #356aa0 0%,#3366dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #356aa0 0%,#3366dd 100%); /* IE10+ */
    background: linear-gradient(top,  #356aa0 0%,#3366dd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#356aa0', endColorstr='#3366dd',GradientType=0 ); /* IE6-9 */

}

#content-related {
    float: right;
    margin-right: -30em;
    position: relative;
    width: 29em;
}
