transit/
*.log
*.pot
*.pyc
*.pyx
*.so
*.c
*.o
app/core/local_settings.py
app/setup.py
.DS_Store
media/data/*

*agentex.json

app/agentex/static/data/*
app/agentex/cython/*
app/agentex/build/*

citsci.db

docker-compose.yml
