{% for o in obs %}
<li  class="itemexist">
	<div class='bigthumb' about='{{o.obsurl}}'>
		<span class='thumbnail'><a href='{{o.obsurl}}' title=='{{o.name}}'><img src='{{o.imageurl}}' alt='{{o.name}}' /></a></span>
		<div class='more-info' style="display:none;">
			<time datetime='{{o.date}}' class="updatetime" stamp="{{stamp|date:"YmdHis"}}">Date: {{o.date}}</time>
		</div>
	</div>
</li>
{% empty %}
<li style="display:none;" class="blankitem">
	<time datetime='{{o.date}}' class="updatetime" stamp="{{stamp|date:"YmdHis"}}"></time>    
</li>
{% endfor %}