{% extends 'base.html' %}
	{% block css-content %}
	<link rel="stylesheet" href="{{STATIC_URL}}css2/agentex.css" type="text/css" media="screen,print" />
	<!-- link rel="stylesheet" href="{{STATIC_URL}}css2/print.css" type="text/css" media="print"-->{% endblock %}

	{% block favicon %}{% endblock %}

	{% block script-content %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/agentex.js"></script>
	{% endblock %}


	{% block login %}
				<div id="login" class="block">{% if user.is_authenticated %}<a href="{% url agentex.views.editaccount %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{user.username}}{% endif %}</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a>{% else %}<a href="{% url django.contrib.auth.views.login %}?next={{ request.path }}">Login</a> | <a href="{% url register %}?next={{ request.path }}">Register</a>{% endif %}</div>
	{% endblock %}


	{% block navbar %}
		<div id="navbar" class="primary clear-block">
			<ul class="links">
				<li class="menu-home"><a href="{% url agentex.views.index %}" title="Agent Exoplanet home">Home</a></li>
				<li class="menu-briefing"><a href="{% url agentex.views.briefing %}">Briefing</a></li>
				<li class="menu-planets"><a href="{% url agentex.views.target  %}">Planets</a></li>
				{% if user.is_authenticated %}<li class="menu-profile"><a href="{% url agentex.views.profile %}">My Profile</a></li>{% endif %}
				<!-- li><a href="http://lcogt.net/en/education/article/extrasolar-planets-history-and-detection">Briefing</a></li -->
				<!--<li><a href="">Forum</a></li>-->
			</ul>
		</div>
	{% endblock %}

	{% block body-class %}agentex {%endblock%}
	
	{% block username %}<a href="{% url agentex.views.profile %}">{{ user.username }}</a>{% endblock %}

	{% block logo-content %}<div class="agentex" id="logo"><a rel="home" title="Citizen Science Home" href="{% url agentex.views.index %}"><img id="logo-image" alt="Home" src="{{STATIC_URL}}images/agentex-logo-beta.png"></a></div>{% endblock %}
	
	{% block footer%}<a href="{% url agentex.views.addcomment %}">Comments &amp; Suggestions</a>{% endblock %}

