{% extends 'agentex/base.html' %}
{% load observing_extras %}

{% block body-class %}full agentex dossier {%endblock%}

{%block header %}Classify Lightcurves for {{event.title}}{%endblock%}

{% block script-content %}
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/agentex.js"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.graph.js"></script>
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/lightcurve.js"></script>
{% if calid %}
	<script type="text/javascript">
	<!--
	var helper = true;
	document.write('<style type="text/css">.decisiontree { float: right; width: 300px; } fieldset { border: 0px; }<\/style>');

	$(document).ready(function(){
		html = '<div id="mainplot"><\/div>';
		$('.decisiontree').before(html);
	
		// Define help
		addHelpHint($('#mainplot'),'Here are complete sets that you have contributed to. Select the button which matches your points. The dark line is the average made from everyone\'s measurements of this calibrator.');
		addHelpHint($('#dip'),'Select if the lightcurve shows a dip which looks like a transit.');
		addHelpHint($('#nodip'),'Select if the lightcurve seems to show no dip or any interesting features.');
		addHelpHint($('#other'),'Select if the lightcurve features something odd that doesn\'t match the other options.');
		addHelpHint($('#blip'),'Select if the lightcurve contains a data point that is much higher or much lower than the other points.');
		addHelpHint($('#periodic'),'Select if the lightcurve shows variation that seems to repeat over time.');
		addHelpHint($('#mylink'),'View your measurements as <a href="{% url 'briefing' %}#lightcurve">lightcurves<\/a>','left');
		addHelpHint($('#avlink'),'This is the page you are looking at.','left');
		addHelpHint($('#sulink'),'View the combined <a href="{% url 'briefing' %}#lightcurve">lightcurves<\/a> created using everybody\'s classifications.','left');
	
		if($('table#datatable').length > 0){
			$('table#datatable').before('<div id="tabletoggle" style="float:left;cursor:pointer;"><img src="{{STATIC_URL}}images/table_icon&24.png" alt="toggle table" title="Show or hide the data table" style="width:16px;margin-right:0px;" \/> toggle data table<\/div><br style="clear:both;" />')
			$('#tabletoggle').bind('click',function(){
				$('table.accessible').toggle();
			})
		}
		var showncompletedmsg = false;
		var sources = {{cals|safe}};
		var calid = {{calid.order}};
		var calorder = 0;
		var undecided = 0;
		for(var i = 0 ; i < sources.length ; i++){
			if(sources[i].order == calid) calorder = i;
			if(sources[i].decision == "X") undecided++;
		}
		if(undecided > 0) $('a#nextstep').addClass('fancybtndisable');

		$('#calid').val({{calid.order}});
		$('input[type=reset]').hide();
		$('input[type=submit]').hide();
		prevchoice = '{{prevchoice}}';
		$('#dip a').attr("tabindex",101);
		$('#nodip a').attr("tabindex",102);
		$('#odd a').attr("tabindex",103);
		$('#blip a').attr("tabindex",114);
		$('#periodic a').attr("tabindex",115);
		$('#other a').attr("tabindex",116);
	
		$('.choice2').hide();
		$('.radio input').hide();
		$('legend').hide();
		
		lcurve = new Lightcurve({
			id:'#mainplot',
			type:'average',
			msg:{
				nodata: "<h3>You have no data points yet<\/h3><p>Why not make some <a href='{% url 'addvalue' event.name %}'>measurements of {{event.title}}<\/a><\/p>",
				login: "Please <a href='{% url 'login' %}'>login<\/a> to edit"
			},
			url:{
				edit: "{% url 'addvalue' event.name %}?dataid=",
				json: "{% url 'index' %}{{event.name}}/data.json",
				xhr: "{% url 'index' %}{{event.name}}/data.xhr?mode=ave",
				superc: "{% url 'index' %}{{event.name}}/data.xhr?mode=super"
			},
			data:{{data|safe}},
			cal:{ order:calorder, name:"{{calid.sourcename}}" },
			authenticated: {% if user.is_authenticated %}true{% else %}false{% endif %}
		});
		console.log(lcurve.data);
		var posturl = "{% url 'classifyupdate' event.name %}";

		$(".choice1 .radio a").bind("click",function(e,nosubmit){
			e.preventDefault();
			$('.choice1 input').attr("checked",false);
			$('.choice1 a').removeClass('fancybtngrey-active');
			$(this).addClass('fancybtngrey-active');
			id = $(this).parent().attr('id');

			el = $('#'+id+' input');
			el.attr("checked",true);
			if(el.val()=="odd"){
				$('.choice1').hide();
				$('.choice2').show();
				$('input[type=reset]').show();
			}else{
				if(!nosubmit){
					// Save decision
					$.post(posturl, $("#decision").serialize());
					updateForm(id);
					//$('#decision').trigger('submit');
				}
			}
		});
		$(".choice2 .radio a").bind("click",function(e,nosubmit){
			e.preventDefault();
			// Really make sure that the odd button was clicked
			$('#odd input').attr("checked",true);

			$('.choice1').hide();
			$('.choice2').show();
			$('input[type=reset]').show();
			$('.choice2 input').attr("checked",false);
			$('.choice2 a').removeClass('fancybtngrey-active');
			$(this).addClass('fancybtngrey-active');
			id = $(this).parent().attr('id');
			el = $('#'+id+' input');
			el.attr("checked",true);
			if(!nosubmit){
				// Save decision
				$.post(posturl, $("#decision").serialize());
				updateForm(id);
				//$('#decision').trigger('submit');
			}
		});
		$('input[name=reset]').bind("click",function(){
				$('.radio a').removeClass('fancybtngrey-active');
				$('.radio input').attr("checked",false);
				$(".choice1").show();
				$(".choice2").hide();
				$('input[type=reset]').hide();
		});

		function updateForm(newdecision){

			var calorder = lcurve.cal.order;
			$('.radio input').attr("checked",false);
			$('.radio a').removeClass('fancybtngrey-active');
			$(".choice1").show();
			$(".choice2").hide();
			$('input[type=reset]').hide();

			// Update the decision in our data store
			if(sources[lcurve.cal.order].decision=="X" && newdecision) undecided--;
			sources[lcurve.cal.order].decision = decisionShort(newdecision);

			// Update image in table
			$('td.decisionimage:eq('+lcurve.cal.order+')').html(decisionImage(newdecision))
			if(undecided > 0){
				for(var i = 0 ; i < sources.length ; i++){
					if(sources[i].decision == "X"){
						lcurve.cal.order = i;
						break;
					}
				}
			}else{

				$('a#nextstep').removeClass('fancybtndisable');
				if(!showncompletedmsg) bubblePopup({id:'helptooltip',el:$('a#nextstep'),align:"top",w:200,animate:true,dismiss:true,html:$('#completedmessage').html()})
				showncompletedmsg = true;

				lcurve.cal.order++;
				if(lcurve.cal.order > sources.length-1) lcurve.cal.order = 0;
				$('#'+decisionFull(sources[lcurve.cal.order].decision)+' a').trigger("click",true);
			}

			$('#classifiedprogress').html((sources.length-undecided)+' out of '+sources.length);

			// Update the id in the form to the new calibrator
			$('#calid').val(sources[lcurve.cal.order].order);

			// Update the title for the new calibrator
			$('h2').html(((sources[lcurve.cal.order].decision != "X") ? "Reclassify":"Classify")+' Calibrator '+(Number(sources[lcurve.cal.order].order)+1));
			$('#USNOname').html('('+sources[lcurve.cal.order].catalogue+'+'+sources[lcurve.cal.order].sourcename+')');

			// Update the name in the lightcurve
			lcurve.cal.name = sources[lcurve.cal.order].sourcename;
			

			// Now update the plot
			lcurve.update();
		}
		function decisionFull(d){
			if(d == "D") return "dip";
			if(d == "N") return "nodip";
			if(d == "O") return "odd";
			if(d == "B") return "blip";
			if(d == "P") return "periodic";
			if(d == "R") return "other";
		}
		function decisionShort(d){
			if(d == "dip") return "D";
			if(d == "nodip") return "N";
			if(d == "odd") return "O";
			if(d == "blip") return "B";
			if(d == "periodic") return "P";
			if(d == "other") return "R";
		}
		function decisionImage(d){
			return '<img title="Classified as '+d+'" alt="'+d+'" src="{{STATIC_URL}}images/choice_'+d+'.png">';
		}

		if(prevchoice){
			$('#'+prevchoice+' a').trigger("click",true);
		}



	{% if calid.progress >= calid.total %}
		bubblePopup({id:'helptooltip',el:$('a#nextstep'),align:"top",w:200,animate:true,dismiss:true,html:$('#completedmessage').html()})
	{% endif %}
	
		{% if messages %}bubblePopup({id:'message',el:$('#mainplot'),fade:3000,dismiss:true,align:"center",w:200,animate:true});{% endif %}
	
	})
	// -->
	</script>
{% endif %}
{% endblock %}

{% block main-content %}
{%if calid%}
	<div class="page stackedpaper">
		<div id="completedmessage" style="display:none;">You've classified all of the calibrator lightcurves that you've contributed to. Great job! The ones classified as &quot;<em>Dip</em>&quot; are now contributing to the final, combined, lightcurve.</div>
		{% if messages %}					<div id="message">
								<ul class="messages">
		{% for message in messages %}{%ifchanged%}		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
								</ul>
							</div>{% endif %}
		<h1>Step 2: Classify Lightcurves for <a href="{% url 'infoview' event.name %}" class="objectspecific">{{event.title}}</a></h1>

		<div id="mylink" style="display:none;"><a href="{%url 'my-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_my.png" alt="My" title="View my measurements as a lightcurve" /></a></div>
		<div id="avlink" class="tabactive" style="display:none;"><a href="{%url 'average-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_ave.png" alt="Classify" title="Classify your lightcurves" /></a></div>
		<div id="sulink" style="display:none;"><a href="{%url 'super-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_super.png" alt="Final" title="Final lightcurve" /></a></div>
		
		<p>Here are complete lightcurves made by combining your measurements with those of volunteers who used the same calibrators. The graphs below show the average values per calibrator and may look different from the previous graph, which contained only your values.</p>
		{% if progress.done < progress.total %}<p class="warning" style="padding:4px;">You have only analyzed {{progress.percent}}% of the images for <span class="objectspecific">{{event.title}}</span>. The graphs below might look a bit strange - <a href="{% url 'addvalue' event.name %}">Continue analysing?</a></p>{%endif%}
		<p> You have classified <span id="classifiedprogress">{{calid.progress}} out of {{calid.total}}</span> calibrators which have full datasets that you have contributed to.</p>
		<p class="accessible">Without Javascript enabled we can't show you your contribution to the average lightcurve for each calibrator. However, you can make your own lightcurves using the data in the table below and then classify the lightcurve for {{calid.sourcename}}.</p>

		<div class="decisiontree">
			<h2 style="margin-top:2px;">{% if prevchoice %}Reclassify{%else%}Classify{%endif%} Calibrator {{calid.order|add:"1"}}</h2>
			<p id="USNOname" style="margin-top:-10px;">(<a href="http://www.strudel.org.uk/lookUP/?name={{sources.0.catalogue}}+{{calid.sourcename}}">{{sources.0.catalogue}} {{calid.sourcename}}</a>)</p>
			{% if prevchoice %}
			Your previous choice for this curve was ...
			{% else%}
			Select the picture which is the closest match for this graph. 
			{% endif %}
			<form id="decision" method="POST" action='{% url 'agentex.views.updatedataset' event.name %}?mode=valid'>
				{% csrf_token %}
				<input type="hidden" name="planet" value="{{event.name}}">
				<input type="hidden" name="calid" id="calid" value="{{calid.order}}">
				<fieldset class="choice1{%if prevchoice == "blip" or prevchoice == "periodic" or prevchoice == "other" %} accessible{% endif %}">
					<legend accesskey="1">Does it look like a light curve?</legend>
					<div class="radio" id="dip"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_dip.png" alt="dip" title="Dip" /></a><br /><input type="radio" name="choice1" id="r1" value="dip" tabindex="101"{%if prevchoice == "dip" %} checked="true"{%endif%}><label for="r1">Dip</label></div>
					<div class="radio" id="nodip"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_nodip.png" alt="no dip" title="No dip" /></a><br /><input type="radio" name="choice1" id="r2" value="nodip" tabindex="102"{%if prevchoice == "nodip" %} checked="true"{%endif%}><label for="r2">No dip</label></div>
					<div class="radio" id="odd"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_odd.png" alt="odd" title="Something odd" /></a><br /><input type="radio" name="choice1" id="r3" value="odd" tabindex="103"{%if prevchoice == "blip" or prevchoice == "periodic" or prevchoice == "other" %} checked="true"{%endif%}><label for="r3">Other</label></div>
				</fieldset>
				<fieldset class="choice2">
					<legend accesskey="2">Other?</legend>
					<div class="radio" id="blip"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_blip.png" alt="blip" title="A blip up or down" /></a><br /><input type="radio" name="choice2" id="r5" value="blip" tabindex="105"{%if prevchoice == "blip" %} checked="true"{%endif%}><label for="r5">Blip</label></div>
					<div class="radio" id="periodic"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_periodic.png" alt="periodic" title="Something regular" /></a><br /><input type="radio" name="choice2" id="r6" value="periodic" tabindex="106"{%if prevchoice == "periodic" %} checked="true"{%endif%}><label for="r6">Periodic</label></div>
					<div class="radio" id="other"><a href="#" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/choice_other.png" alt="other" title="Something else" /></a><br /><input type="radio" name="choice2" id="r7" value="other" tabindex="107"><label for="r7"{%if prevchoice == "other" %} checked="true"{%endif%}>Odd</label></div>
				</fieldset>
				<div style="text-align:center;">
					<input type="reset" name="reset" class="fancybtngrey" value="Start over" tabindex="201" /> <input type="submit" class="fancybtn" value="Save my choices" tabindex="202" />
				</div>
			</form>
			<div style="text-align:center;">
				<a href="{%url 'super-graph' event.name%}" class="fancybtn" id="nextstep">Step 3: Final lightcurve<span class="arrow">&nbsp;</span></a> 
			</div>
		</div>

		<br style="clear:both" />

		<div style="max-width:900px;overflow:auto;">
		<table class="accessible" id="datatable" summary="The data for each calibrator">
			<tr><th>Observation date</th><th class="source">Target</th><th class="sky">Sky</th>{% for cal in sources %}<th class="calibrator"><a href="{% url 'calibrator-graph' event.name cal.order|add:"1" %}">Cal {{cal.order|add:"1"}}</a></th>{% endfor %}</tr>
			<tr style="height:40px;"><td></td><td></td><td></td>{% for cal in sources %}<td class="decisionimage" style="text-align:center;padding-top:3px;">{{cal.decision|decisionconvert|safe}}</td>{% endfor %}</tr>
			{% for line in data %}
			<tr><td><a href="{% url 'addvalue' event.name %}?dataid={{line.id}}">{{line.date}}</a></td><td>{{line.data.source|floatformat:0}}</td><td>{{line.data.background|floatformat:0}}</td>{% for cal in line.data.calibrator %}<td{%ifnotequal cal.1 calid.order %} style="color:#bbb;"{%endifnotequal%}>{{cal.0|floatformat:0}}</td>{% endfor %}</tr>
			{% endfor %}
		</table>
		</div>

<!--
		{% if sources %}
		<form id="calibrator_list" method="POST" action='{%  url 'updatedataset' event.name %}'>{% csrf_token %}
			<input type=hidden name="planet" value="{{event.name}}">
{% for d in sources %}		<input type="checkbox" name="cal-{{d.order}}" value="{{d.order}}" {%if d.valid %}CHECKED{%endif%} />Show calibrator {{d.order|add:"1"}} {%if d.sourcename%}(<a href="http://www.strudel.org.uk/lookUP/?name=USNOA2+{{d.sourcename}}">USNOA2 {{d.sourcename}}</a>){%endif%} on the graph<br />{% endfor %}
			<input type="submit" name="submit" value="Save my choices" />
		</form>
		{% endif %}
-->
	</div>
{%else%}
<div class="page stackedpaper">
		<h1>Step 2: Classify Lightcurves for <a href="{% url 'infoview' event.name %}" class="objectspecific">{{event.title}}</a></h1>
		<ol class="breadcrumb">
			<li><a href="{%url 'my-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_my.png" alt="My" title="View my measurements as a lightcurve" /> My measurements</a></li>
			<li class="active"><a href="{%url 'average-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_ave.png" alt="Classify" title="Classify your lightcurves" /> Classify lightcurves</a></li>
			<li><a href="{%url 'super-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_super.png" alt="Final" title="Final lightcurve" /> Final lightcurve</a></li>
		</ol>
		<div id="mylink" style="display:none;"><a href="{%url 'my-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_my.png" alt="My" title="View my measurements as a lightcurve" /></a></div>
		<div id="avlink" class="tabactive" style="display:none;"><a href="{%url 'average-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_ave.png" alt="Classify" title="Classify your lightcurves" /></a></div>
		<div id="sulink" style="display:none;"><a href="{%url 'super-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_super.png" alt="Final" title="Final lightcurve" /></a></div>
{% if classified.total > 0%}
		<p>Bad news! Combining your measurements for {{event.title}} with everyone else's does not produce a complete lightcurve</p>
		<p>If you come back here when you have <a href="{% url 'addvalue' event.name %}">made more measurements</a>, it will be much more exciting.</p>
		<div> <a href="{%url 'my-graph' event.name%}" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/graph_my.png" alt="my measurements" title="My measurements" /></a> <a href="{%url 'super-graph'  event.name%}" class="fancybtngrey btn"><img src="{{STATIC_URL}}images/graph_super.png" alt="super-calibrator" title="Final lightucurve" /></a></div>
{% else %}
		<p>You have not made any measurements of {{event.title}} yet.</p>
		<p>If you come back here when you have <a href="{% url 'addvalue' event.name %}">made some measurements</a>, it will be much more exciting.</p>
{%endif%}
</div>
{%endif%}
{% endblock %}
