{% extends 'agentex/base.html' %}

{% block body-class %}full agentex dossierfront {%endblock%}

{%block header %}Agent Exoplanet{%endblock%}

{% block script-content %}
{% if messages %}
	<script type="text/javascript">
	<!--
	$(document).ready(function(){
		bubblePopup({id:'message',el:$('#main'),align:"center",fade:2000,w:200,animate:true,dismiss:true});
	});
	// -->
	</script>
{% endif %}
{% endblock %}

{% block main-content %}

	<div style="margin:32px;">
		<div style="height:160px;background-color:black;background-image:url('{{STATIC_URL}}images/banner.png');border:3px solid white;" class="paper"><a href="{% url agentex.views.target %}" style="margin-top:90px;margin-right:20px;float:right;" class="fancybtn btn fancybtnglow">Start the mission <span class="arrow">&nbsp;</span></a></div>
	
		<div class="lower" style="margin-bottom:16px;"></div>
	
		<div style="clear:both;float:left;width:100%;margin-bottom:32px;">
			<div class="paper missionbrief">
				<div style="margin:24px 24px 0px 24px;">
					<h1 class="objectspecific" style="margin-bottom:8px;">Mission Brief</h1>

{% if user.is_authenticated %}					<p style="color:black;">Welcome{% if user.first_name %} <a href="{% url agentex.views.profile %}">{{ user.first_name}}</a>{% endif %}.</p>{% endif %}
					
					<p style="color:black;">Astronomers at Las Cumbres Observatory are investigating exoplanets - planets which orbit stars other than our Sun - and you can too.</p>
				
					<p style="color:black;">Joining Agent Exoplanet you will study known exoplanets using images taken by LCOGT’s telescopes. You'll measure the brightness of a star while a planet moves between it and our viewpoint.</p>
				
					<p style="color:black;">You can examine as many images, from as many exoplanet transit events, as you like and contribute to understanding the properties of each exoplanet.</p>
				
					<p><a href="{% url agentex.views.briefing %}">Find out more...</a></p>
	
				</div>
			</div>
	
			<div class="paper missionvideo">
				<div style="margin:24px 24px 0px 24px;">
	
					<h2 class="objectspecific">Briefing Video</h2>
					<!--
					<div id="countdown" style="text-align: center;font-size:2em;margin-top:144px;line-height:30px;">
						Launch: 
						<div id="clock" class="objectspecific"></div>
					</div>-->
					<iframe width="400" height="233"
src="http://www.youtube.com/embed/qY1N-v4TwOg?rel=0"><a href="http://www.youtube.com/watch?v=qY1N-v4TwOg" title="Video on YouTube">Watch this video on YouTube</a></iframe>


				</div>
			</div>	
		</div>
	</div>

{% if messages %}
	<div id="message">
		<ul class="messages">
{% for message in messages %}{%ifchanged%}			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
		</ul>
	</div>
{% endif %}

{% endblock %}

{% block section-nav%}
{% endblock %}
