{% extends 'agentex/base.html' %}
{% load staticfiles %}

{% block body-class %}full agentex dossier {%endblock%}

{%block header %}Transit Lightcurve of {{event.title}}{%endblock%}

{% block script-content %}
	<script language="javascript" type="text/javascript" src="{% static 'js/agentex.js' %}"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{% static 'js/sylvester-min.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/optimize.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.graph.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/lightcurve.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/raphael.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/planetarymodel.js' %}"></script>

	<script type="text/javascript">
	<!--
	var helper = true;
	var nscroll = 1;
	$(document).ready(function(){
		$('#nextstep').addClass('fancybtndisable');

	{% if numsuper %}
		html = '<p>Measurements with {{numsuper}} calibrator{% if numsuper > 1 %}s were combined{%else%} was used{%endif%} to make the final, combined, lightcurve. With more calibrators the lightcurve should improve.'
		html += '<div id="mainplot" style="height:448px;width:100%;"><\/div>';
	
	{% endif %}		
		addHelpHint($('#mainplot'),'This graph shows how the relative brightness of the host star changes as exoplanet <a href="{% url 'infoview' event.name %}" class="objectspecific">{{event.title}}<\/a> passes in front of it.<br/><br/> This graph combines the measurements and classifications from all citizen scientists on this project, into one supercalibrator result.');
		addHelpHint($('#mylink'),'View your measurements as <a href="{% url 'briefing' %}#lightcurve">lightcurves<\/a>','left');
		addHelpHint($('#avlink'),'Classify your measurements','left');
		addHelpHint($('#sulink'),'This is the page you are looking at.','left');

	{% if numsuper %}
	
		$('.breadcrumb').after(html);

		if($('table#datatable').length > 0){
			$('table#datatable').before('<div id="tabletoggle" style="float:left;cursor:pointer;"><img src="{% static 'images/table_icon&24.png' %}" alt="toggle table" title="Show or hide the data table" style="width:16px;margin-right:0px;" \/> toggle data table<\/div><br style="clear:both;" />')
			$('#tabletoggle').bind('click',function(){
				$('table.accessible').toggle();
			})
		}

		var solsystem;

		var lcurve = new Lightcurve({
			id:'#mainplot',
			msg:{
				nodata: "<h3>You have no data points yet<\/h3><p>Why not make some <a href='{% url 'addvalue' event.name %}'>measurements of {{event.title}}<\/a><\/p>",
				login: "Please <a href='{% url 'login' %}'>login<\/a> to edit"
			},
			data:{{data|safe}},
			authenticated: {% if user.is_authenticated %}true{% else %}false{% endif %},
			type: "super",
			options: {
					series: { points: { show: false } },
					grid: { hoverable: false, clickable: false },
					selection: { mode: "xy", color: '#000000' }
			},
			period: {{ target.period }}*86400000,
			onfit: function(e){
				if(!solsystem){
					solsystem = new PlanetaryModel({
						mass: {{ target.mass }},
						period: {{ target.period }},
						name: "{{ target.name }}",
						transit: e.transit,
						dip: e.dip
					});
				}else solsystem.init(e);
			}
		});

		$(window).scroll(function(){ if(solsystem) solsystem.disable(); });
		{% if user.is_authenticated and not nodata  %}
		$('#mainplotholder').after('<button class="fancybtngrey btn-mine">Mine<\/button> <button class="fancybtngrey btn-every">Everyone<\/button>');
		$('.btn-mine').bind('click',function(){
			$('.btn-every').removeClass('fancybtngrey-active')
			lcurve.update('mine')
			$(this).addClass('fancybtngrey-active');
		});
		$('.btn-every').bind('click',function(){
			$('.btn-mine').removeClass('fancybtngrey-active')
			lcurve.update();
			$(this).addClass('fancybtngrey-active');
		}).addClass('fancybtngrey-active');
		{% endif %}
		extra = "";
		{% if messages %}extra = $('#message').html(){% endif %}
		addHelpHint($('#mainplot'),'This lightcurve represents the combined measurements with many calibrators. We\'ve attempted to fit a mathematical model to the data to measure the dip in brightness and the length of the transit.');
	
	//	{% if messages %} bubblePopup({id:'message',el:$('#mainplot'),fade:2000,dismiss:true,align:"center",w:200,animate:true,html:'<ul class="messages">{% for message in messages %}{%ifchanged%}<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>{%endifchanged%}{% endfor %}</ul>'});{% endif %}
	{% else %}
	{% endif %}
	})
	// -->
	</script>
{% endblock %}

{% block main-content %}
	<div class="page stackedpaper">
					{% if messages %}<div id="message">					
						<ul class="messages">
{% for message in messages %}{%ifchanged%}		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
						</ul>
					</div>{% endif %}

{% if numsuper %}
		<h1>Step 3: Final Lightcurve for <a href="{% url 'infoview' event.name %}" class="objectspecific">{{event.title}}</a></h1>
{% else %}
		<h1>No combined result for <a href="{% url 'infoview' event.name %}" class="objectspecific">{{event.title}}</a> yet</h1>
{%endif%}
{% if user.is_authenticated %}
<!--
		<ol class="breadcrumb">
			<li><a href="{%url 'my-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_my.png" alt="My" title="View my measurements as a lightcurve" />Step 1: My measurements</a></li>
			<li><a href="{%url 'average-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_ave.png" alt="Classify" title="Classify your lightcurves" />Step 2: Classify lightcurves</a></li>
			<li class="active"><a href="{%url 'super-graph' event.name%}"><img src="{{ STATIC_URL }}images/graph_super.png" alt="Final" title="Final lightcurve" />Step 3: Final lightcurve</a></li>
		</ol>
-->
		<p class="breadcrumb"></p>
		<div id="mylink" style="display:none;"><a href="{%url 'my-graph' event.name%}"><img src="{% static 'images/graph_my.png' %}" alt="My" title="View my measurements as a lightcurve" /></a></div>
		<div id="avlink" style="display:none;"><a href="{%url 'average-graph' event.name%}"><img src="{% static 'images/graph_ave.png' %}" alt="Classify" title="Classify your lightcurves" /></a></div>
		<div id="sulink" class="tabactive" style="display:none;"><a href="{%url 'super-graph' event.name%}"><img src="{% static 'images/graph_super.png' %}" alt="Final" title="Final lightcurve" /></a></div>
{% else %}
		<p class="breadcrumb">You can contribute measurements to this lightcurve after <a href="{% url 'register' %}?next={{ request.path }}">creating an account.</a> If you already have an account <a href="{% url 'login' %}?next={{ request.path }}">log in</a></p>
{% endif %}


{% if numsuper %}
		<div id="relativesizes" class="accessible">
			<br />
			<h2>Relative sizes</h2>
			<p>This cartoon shows the relative sizes of the star, planet and orbit based on the transit above. It assumes that we are seeing <span class="objectspecific">{{event.title}}</span>'s orbit edge on. The dip in brightness happens when the planet blocks the star.</h2>
			<div id="planetillustration"></div>
			<div id="planetcomparison"></div>
			<div id="planetillustration"></div>
			<div id="planetcalculation">
				<h2>How we worked this out</h2>
				<p>The orbital period for <span class="objectspecific">{{event.title}}</span> is known to be <span class="objectspecific transitperiod">{{ target.period }} days</span>. Through either the star's <a href="http://en.wikipedia.org/wiki/Stellar_classification">stellar type</a> or radial velocity measurements, we can infer a mass for the star of <span class="objectspecific">{{ target.mass }}</span> times that of the Sun. With <a href="http://en.wikipedia.org/wiki/Kepler%27s_laws_of_planetary_motion#Third_law">Kepler's third law of planetary motion</a> we can then calculate the orbital radius to be about <span class="objectspecific transitorbit"></span> (<span class="objectspecific transitorbitau"></span>).</p>
				<p>From the graph we estimate the transit to take <span class="transitlength objectspecific"></span> (we will call this <em>t<sub>trans</sub></em>) with a dip in brightness of <span class="transitdip objectspecific"></span>. The dip in brightness is related to the relative sizes of planet and star - the bigger the planet, compared to the star, the bigger the dip in brightness when it passes in front. Your measurements suggest the planet has a diameter roughly <span class="transitscale objectspecific"></span> times that of the host star. The duration of a transit is related to the orbital period <em>P</em>, the star's radius <em>R&lowast;</em>, the orbital radius <em>a</em> and the inclination of the orbit <em>i</em>. These are all related by the formula:</p>
				<table summary="Properties of the transiting system based on your measurement" class="borderless" style="border:0px;font-size: 1.2em; font-family: times, serif;"><tr>
					<td width="50%"></td>
					<td nowrap style="vertical-align:middle;"><i>t<sub>trans</sub></i> &nbsp;=</td>
					<td nowrap style="align:center;vertical-align:middle;">&nbsp; <i>P</i> &nbsp;<hr style="margin:0px;">&nbsp; <i>&pi;</i> &nbsp;</td>
					<td nowrap style="vertical-align:bottom;padding:0px;"><span style="font-size:3.5em;">&radic;</span></td>
					<td nowrap style="vertical-align:middle;border-top:2px solid black;padding:0px;">&nbsp;<span style="font-size:3em;">(<sup style="font-size:0.3em;"></sup></span></td>
					<td nowrap style="text-align:center;vertical-align:middle;border-top:2px solid black;padding:0px;">&nbsp; <i>R&lowast;</i> &nbsp;<hr style="margin:0px;">&nbsp; <i>a</i> &nbsp;</td>
					<td nowrap style="vertical-align:middle;border-top:2px solid black;padding:0px;"><span style="font-size:3em;">)<sup style="font-size:0.3em;">2</sup></span></td>
					<td nowrap style="vertical-align:middle;border-top:2px solid black;">&nbsp;&minus;&nbsp;<i>cos<sup>2</sup>&nbsp;(i)</i></td>
					<td width="50%"></td>
				</tr></table>
				<p>If we assume an edge-on orbit, like in the cartoon above, the inclination (<span style="font-family: times, serif;font-style:italic">i</span>) is zero and this becomes the more straightforward:</p>				
				<table class="borderless" style="border:0px!important;font-size: 1.2em; font-family: times, serif;"><tr>
					<td width="50%"></td>
					<td nowrap style="vertical-align:middle;"><i>t<sub>trans</sub></i> &nbsp;=</td>
					<td nowrap style="text-align:center;vertical-align:middle;">&nbsp; <i>P&nbsp;R&lowast;</i> &nbsp;<hr style="margin:0px;">&nbsp; <i>&pi;&nbsp;a</i> &nbsp;</td>
					<td width="50%"></td>
				</tr></table>
				<p>Using all the values we've measured, calculated or inferred the planet is then estimated to have a radius of <span class="objectspecific transitplanetradius"></span>.</p>
			</div>
			<div id="planetdetails"></div>
		</div>
		<p class="accessible">Without Javascript enabled we can't show you a lightcurve but you could create your own lightcurve using the data in the table below. You can also provide us with information about which calibrators are not variable by checking the boxes below.</p>

		<div style="text-align:right;">
			<a href="{% url 'target' %}" class="fancybtn" id="nextstep">Next planet<span class="arrow">&nbsp;</span></a> 
		</div>

		<div style="max-width:900px;overflow:auto;">
		    <a href="{% url 'measurementsummary' event.name 'csv'%}">Download the data for this lightcurve as a CSV file</a><br/>
		<table class="accessible" id="datatable" summary="The data used to make the final lightcurve">
			<tr><th>Observation date</th><th colspan="2">Relative brightness</th><th>Estimated uncertainty</th></tr>
			<tr><th></th><th>Mine</th><th>Everyone</th><th></th></tr>
	{% for line in data %}
			<tr><td><a href="{% url 'addvalue' event.name %}?dataid={{line.id}}">{{line.date}}</a></td><td>{{line.data.mine|floatformat:3}}</td><td>{{line.data.mean|floatformat:3}}</td><td>{{line.data.std|floatformat:3}}</td></tr>
	{% endfor %}
		</table>
		</div>
		
		

{% else%}
		<p>Bad news! Not enough measurements have been made yet.</p>
		<p>Go and <a href="{% url 'addvalue' event.name %}">make more measurements</a>, then <a href="{%url 'average-graph' event.name%}">classify your results</a>.
		<p>It will make this page much more exciting!</p>
{%endif%}
	</div>
{% endblock %}
