{% extends 'agentex/base.html' %}
{% load staticfiles %}

{% block body-class %}full agentex dossier {%endblock%}

{%block header %}{{event.title}}: Advanced Lightcurve{%endblock%}

{% block script-content %}
	<script language="javascript" type="text/javascript" src="{% static 'js/agentex.js' %}"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.axislabels.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.fillbetween.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'js/jquery.flot.selection.js' %}"></script>
	<script src="{% static 'js/indicator.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/raphael.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/raphael.sizer.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'js/raphael.rangelimiter.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/lightcurve.js' %}" type="text/javascript"></script>

<script type="text/javascript">
var data;
$(document).ready(function(){
	function photoReady(){
	
	}
	lcurve = new Lightcurve({
		id:'#lightcurve',
		msg:{
			nodata: "<h3>You have no data points yet<\/h3><p>Why not make some <a href='{% url 'addvalue' event.name %}'>measurements of {{event.title}}<\/a><\/p>",
			login: "Please <a href='{% url 'login' %}'>login<\/a> to edit"
		},
		url:{
			edit: "{% url 'advanced-graph' event.name %}?dataid=",
			json: "{% url 'index' %}{{event.name}}/data.json",
			xhr: "{% url 'index' %}{{event.name}}/data.xhr"
		},
		authenticated: {% if user.is_authenticated %}true{% else %}false{% endif %},
		framenum : {{ framedata.id }}
	});


	data = getDataFromTable();
	photo = new Indicator({id:'finderthumb',callback:photoReady,circles:data});

	var plot_s = makeHistogram("source",data)
	var plot_b = makeHistogram("sky",data)
	var plot_c = makeHistogram("calibrator",data)

	plot_b.jquery.hide();
	plot_c.jquery.hide();
	
	$('#histograms').prepend('<form>Change histogram: <select id="histogram_changer"><option value="source" SELECTED>Sources<\/option><option value="sky">Backgrounds<\/option><option value="calibrator">Calibrators<\/option><\/select><\/form>');
	$('#histogram_changer').bind('change',function(){
		type = $(this).val();
		if(type=="source"){
			plot_s.jquery.show();
			plot_b.jquery.hide();
			plot_c.jquery.hide();
		}else if(type=="sky"){
			plot_s.jquery.hide();
			plot_b.jquery.show();
			plot_c.jquery.hide();		
		}else if(type=="calibrator"){
			plot_s.jquery.hide();
			plot_b.jquery.hide();
			plot_c.jquery.show();
		}
	});
	
	$('#source_lo,#source_hi,#sky_lo,#sky_hi,#calibrator_lo,#calibrator_hi').bind('change',function(){
		var type = $(this).attr('id');
		type = type.substring(0,type.indexOf('_'));

		if(type=="source") var p = plot_s;
		if(type=="sky") var p = plot_b;
		if(type=="calibrator") var p = plot_c;

		var from = ($('#'+type+'_lo').val()!="") ? $('#'+type+'_lo').val() : p.min;
		var to = $('#'+type+'_hi').val() ? $('#'+type+'_hi').val() : p.max;
		if(from <= p.min && to >= p.max) p.plot.clearSelection();
		else p.plot.setSelection({ xaxis: { from:from, to:to } });
		
	});
})

function makeHistogram(type,d){
	var d2 = new Array();
	for(i = 0; i < d.length ; i++) if(d[i].used && d[i].type==type) d2.push(d[i].v);
	var bins = bin(d2);
	var j = $("#histogram_"+type);
	var w = (bins.length > 1) ? bins[1][0]-bins[0][0] : 1;
	var plot = $.plot(j, [{ data: bins}], { bars: { show: true, barWidth: w }, xaxis: {axisLabel:type+" values"}, selection: { mode: "x" } });
	j.bind("plotselected",function(event, ranges){
		updateData({type:type,from:ranges.xaxis.from.toFixed(1),to:ranges.xaxis.to.toFixed(1)});
		$('#'+type+'_lo').val(ranges.xaxis.from.toFixed(1))
		$('#'+type+'_hi').val(ranges.xaxis.to.toFixed(1))
	}).bind("plotunselected",function(event, ranges){
		updateData({type:type,from:"",to:""});
		$('#'+type+'_lo').val("")
		$('#'+type+'_hi').val("")
	}).bind("click",function(event){
		if(!plot.getSelection()) updateData({type:type})
	});
	return {type:type,plot:plot,jquery:j,max:bins[bins.length-1][0]+w,min:bins[0][0]};
}

function getRange(d){
	var hi = max(d);
	var lo = min(d);
	var range = hi-lo;
	var i = 0;

	if(range <= 0) return {min:lo,max:hi,inc:1,n:1};

	// potential increment size
	var tinc = Math.pow(10,Math.ceil(Math.log(range/10)/Math.log(10)));

	// Get maximum value on axis
	var tmax = (Math.floor(hi/tinc)*tinc);
	if(tmax < hi) tmax += tinc;

	// Get minimum value on axis
	tmin = tmax;
	do{ i++; tmin -= tinc; }while(tmin > lo);
	
	if(Math.abs(tmin) < 1E-15) tmin = 0.0;
	
	// Increase the number of increments
	while(i < 5) {
		tinc /= 2.0;
		if((tmin + tinc) <= lo) tmin += tinc;
		if((tmax - tinc) >= hi) tmax -= tinc;
		i = i*2;
	}
	return {min:tmin,max:tmax,inc:tinc,n:(tmax-tmin)/tinc};
}
function bin(array){
	var range = getRange(array)
	var mx = max(array);
	var mn = min(array);
	var binned = new Array(range.n);
	for(var i = 0; i < range.n ; i++) binned[i] = [(i*range.inc)+range.min,0]
	for(var i = 0; i < array.length ; i++){
		j = Math.floor((array[i]-range.min)/range.inc);
		if(binned[j]) binned[j] = [((j*range.inc)+range.min),binned[j][1]+1];
		else binned[j] = [((j*range.inc)+range.min),1];
	}
	return binned;
}
function max(array){ return Math.max.apply(Math, array); }
function min(array){ return Math.min.apply(Math, array); }

function getDataFromTable(){
	var w = 1024;
	var h = 1024;
	var o = [];
	$('#datatable tr').each(function(r){
		if(r > 0){
			var self = $(this);
			var t,x,y,r,v,m,u;
			self.children().each(function(i){
				if(i==0) t = $(this).text();
				else if(i==1) x = parseInt($(this).text());
				else if(i==2) y = parseInt($(this).text());
				else if(i==3) r = parseFloat($(this).text());
				else if(i==4) v = parseFloat($(this).text());
				else if(i==5) m = (/^true$/i).test($(this).text().toLowerCase());
				else if(i==6) u = (/^true$/i).test($(this).text().toLowerCase());
			});
			o.push({type:t,x:x/w,y:y/h,r:r/w,v:v,mine:m,used:u});
		}
	});
	return o;
}
Array.prototype.avg = function() {
	var av = 0;
	var n = 0;
	var len = this.length;
	for (var i = 0; i < len; i++) {
		if(typeof this[i]=="number"){ av += this[i]; n++; }
	}
	if(typeof av=="number" && n > 0) return av/n;
	else return 0.0;
}
Array.prototype.stdev = function() {
	var av = this.avg();
	if(typeof av=="number"){
		var sum = 0;
		for (var i = 0; i < this.length; i++){
			sum += Math.pow((this[i]-av),2);
		}
		return Math.sqrt(sum/this.length);
	}else return 0.0;
}
function updateData(inp){
	var v;
	var table = $('#datatable');
	var limitrange = (inp.from && inp.to);
	var me = { s:[],b:[],c:[],ratio:[],sum:0 }
	var all = { s:[],b:[],c:[],ratio:[],sum:0 }
	for(var r=0; r < data.length ; r++){
		if(data[r].type==inp.type){
			v = data[r].v;
			if(limitrange) match = (v >= inp.from && v <= inp.to);
			else match = true;
			// Has this data point changed its state?
			if(match != data[r].used){
				row = table.find('tr:nth-child('+(r+2)+')');	// first row is header and indexing starts at 1
				row.find('td:nth-child(7)').html(match ? "True" : "False");
				row.removeClass("notincluded").addClass(match ? "" : "notincluded");
				data[r].used = match;
				photo.sources[r].attr({opacity:(match) ? photo.opacity.on : photo.opacity.off});
			}
		}
		if(data[r].used){
			if(data[r].mine){
				if(data[r].type=="source"){ me.s.push(data[r].v); }
				if(data[r].type=="sky"){ me.b.push(data[r].v); }
				if(data[r].type=="calibrator"){ me.c.push(data[r].v); }
			}
			if(data[r].type=="source"){ all.s.push(data[r].v); }
			if(data[r].type=="sky"){ all.b.push(data[r].v); }
			if(data[r].type=="calibrator"){ all.c.push(data[r].v); }
		}
	}
	if(all.s.length > 0 && all.b.length > 0 && all.c.length > 0){
		var smb = (all.s.avg() - all.b.avg())
		for(c = 0; c < all.c.length ; c++) all.ratio.push(smb/(all.c[c]-all.b.avg()));

		for(c = 0; c < me.c.length ; c++) me.sum += 1./(me.c[c]-me.b.avg());
		me.sum *= ((me.s.avg()-me.b.avg())/me.c.length);
		
		for(var i=0 ; i < lcurve.dmine.length ; i++){
			if(lcurve.dmine[i][2]==lcurve.framenum){
				if(me.s.length > 0 && me.b.length > 0 && me.c.length > 0) lcurve.dmine[i][1] = me.sum;
				else lcurve.dmine[i][1] = null;
			}
			if(lcurve.ids[i]==lcurve.framenum){
				lcurve.dmean[i][1] = all.ratio.avg();
				lcurve.dvar[i] = all.ratio.stdev();
			}
		}
		lcurve.update();
		$('#helptooltip').hide()
	}else{
		bubblePopup({id:'message',el:{x:$(window).width()/2,y:($(window).height()/2)+window.scrollY},fade:1000,dismiss:true,align:"center",w:200,animate:true,html:'Too few values. You must have at least one source, one sky background, and one calibrator value.'})
	}
}
</script>
{% endblock %}

{% block main-content %}
	<div class="page stackedpaper">
		
		<h1><a href="{% url 'infoview' event.name  %}" class="objectspecific">{{event.title}}</a>: Advanced Lightcurve</h1>
		<p>This page lets you interact with the data used to make the lightcurve. You can limit the range of the values used for the <span class="source">source</span>, <span class="sky">sky</span>, and <span class="calibrator">calibrators</span></p>
		<div id="lightcurve" style="height:300px;width:560px; margin-right: 15px;display:inline-block;"></div>
		<div id="finderthumb" style="width:300px;height:300px;display:inline-block;">
				<img src="{{ STATIC_URL }}{{target.finderchart_tb}}" style="width:100%" />
		</div>
		<div style="width:560px;display:inline-block;vertical-align:top;margin-right: 15px;">
			<table id="datatable" style="width:100%;text-align:left;">
				<tr><th>Type</th><th>x</th><th>y</th><th>Radius</th><th>Value</th><th>Mine?</th><th>Included</th></tr>
				<!--<tr class="source"><td>source</td><td>520</td><td>450</td><td>14</td><td>353345</td><td>true</td><td>true</td></tr>
				<tr class="source"><td>source</td><td>525</td><td>452</td><td>14</td><td>353893</td><td>false</td><td>true</td></tr>
				<tr class="source"><td>source</td><td>510</td><td>459</td><td>14</td><td>353917</td><td>false</td><td>true</td></tr>
				<tr class="sky"><td>sky</td><td>500</td><td>520</td><td>14</td><td>12879</td><td>true</td><td>true</td></tr>
				<tr class="sky"><td>sky</td><td>500</td><td>420</td><td>14</td><td>12789</td><td>false</td><td>true</td></tr>
				<tr class="sky"><td>sky</td><td>520</td><td>380</td><td>14</td><td>12914</td><td>false</td><td>true</td></tr>
				<tr class="calibrator"><td>calibrator</td><td>845</td><td>725</td><td>14</td><td>89419</td><td>true</td><td>true</td></tr>
				<tr class="calibrator"><td>calibrator</td><td>845</td><td>730</td><td>14</td><td>91034</td><td>false</td><td>true</td></tr>
				<tr class="calibrator"><td>calibrator</td><td>350</td><td>560</td><td>14</td><td>190735</td><td>false</td><td>true</td></tr>
				<tr class="calibrator"><td>calibrator</td><td>320</td><td>325</td><td>14</td><td>123456</td><td>false</td><td>true</td></tr>
				<tr class="calibrator"><td>calibrator</td><td>320</td><td>320</td><td>14</td><td>165784</td><td>false</td><td>true</td></tr>-->
				{% for line in framedata.data %}
				<tr class="{{line.type}}"><td>{{line.type}}</td><td>{{line.x}}</td><td>{{line.y}}</td><td>{{line.r}}</td><td>{{line.value}}</td><td>{{line.mine}}</td><td>True</td></tr>
				{% endfor%}

			</table>
		</div>
		<div id="histograms" style="width:300px;display:inline-block;margin-top:20px;">
			<div id="histogram_source" style="width:300px;height:300px;"></div>
			<div id="histogram_sky" style="width:300px;height:300px;"></div>
			<div id="histogram_calibrator" style="width:300px;height:300px;"></div>
			<div style="text-align:center;border:1px solid #999;margin-top:10px;">
				<form style="padding:10px;line-height:2em;" id="histogram_form">
					<input type="hidden" id="dataid" value="{{ framedata.id }}" />
					<input type="text" id="source_lo" value="" style="width:6em;"> &le; source &le; <input type="text" id="source_hi" value="" style="width:6em;">
					<br /><input type="text" id="sky_lo" value="" style="width:6em;"> &le; sky &le; <input type="text" id="sky_hi" value="" style="width:6em;">
					<br /><input type="text" id="calibrator_lo" value="" style="width:6em;"> &le; calibrator &le; <input type="text" id="calibrator_hi" value="" style="width:6em;">
					<br /><input type="submit" value="Save limits" action="" />
				</form>
			</div>
		</div>			
	</div>


{% endblock %}
