@font-face {
	font-family: 'SecretTypewriterRegular';
	src: url('/css2/fonts/veteran_typewriter-webfont.eot');
	src: url('/css2/fonts/veteran_typewriter-webfont.eot?#iefix') format('embedded-opentype'),
		url('/css2/fonts/veteran_typewriter-webfont.woff') format('woff'),
		url('/css2/fonts/veteran_typewriter-webfont.ttf') format('truetype'),
		url('/css2/fonts/veteran_typewriter-webfont.svg#SecretTypewriterRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

table { margin-top: 0px; }
table th,table td { line-height: 31px; }
table.borderless { border: 0px; }
table.borderless td { border: 0px; }
iframe { border: 0px; }
#lcogt-bar { -o-background-size: 100% 100%;-moz-background-size: 100% 100%;-webkit-background-size: 100% 100%;background-size: 100% 100%;/* Internet Explorer */*background: #606060;background: #606060;filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#FF404040, endColorstr=#FF606060);/* Recent browsers */background-image: -webkit-gradient(linear,left top, left bottom,from(#404040),to(#606060));background-image: -webkit-linear-gradient(top,#404040,#606060);background-image: -moz-linear-gradient(top,#404040,#606060);background-image: -o-linear-gradient(top,#404040,#606060);background-image: linear-gradient(top,#404040,#606060);color: white; }

body.agentex #page-wrapper { background: url('/images/new-agentex-bg.png') #fefefe repeat-x; }
body.agentex #page { background: url('/images/new-header-agentex-bg.png') transparent no-repeat; background-position: center top; }

body.agentex #logo { margin-top: 8px; margin-bottom: 0px; }
body.agentex #logo img { width: 247px; height: 104px;}
#navbar {
	margin: -21px;
	padding: 0px 96px 0px 0px;
}
#navbar.primary a {
	color: white;
}
body.planets ul.links { z-index: 10; }
body.agentex #navbar ul.links { margin: 0px; height: 21px; }
body.agentex #navbar ul.links li { padding: 0px; }
body.agentex #navbar ul.links li a { padding:5px 10px 5px 10px; }
body.agentex #navbar ul.links li a {
	color: black;
	background: #e7d3a5;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.0, rgb(158,134,98)),color-stop(0.40, rgb(214,182,132)));
	background-image: -moz-linear-gradient(center bottom,rgb(158,134,98) 0%,rgb(214,182,132) 40%);
	background-image: -ms-linear-gradient(0, rgb(158,134,98) 0%,rgb(214,182,132) 40%);
	background-image: -o-linear-gradient(0, rgb(158,134,98) 0%,rgb(214,182,132) 40%);
	background-image: linear-gradient(0, rgb(158,134,98) 0%,rgb(214,182,132) 40%);
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
body.dossierfront #navbar ul.links li.menu-home a, body.planets #navbar ul.links li.menu-planets a, body.briefing #navbar ul.links li.menu-briefing a, body.profile #navbar ul.links li.menu-profile a { background: #e7d3a5; }
body.dossier #main {
	border: 0px;
}

body.dossier #content {
	padding: 0 5px;
}

body.full #content, body.airmail #content {
	padding: 8px!important;
}

#main {
	float: right;
	padding: 0;
	width: 768px;
	margin: 0px;
	background-color: #fff;
	padding-bottom: 10px;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 1px 1px 20px rgba(0,0,0,0.6);
}

body.full #main {
	display:block;
	width: 100%;
}

#content {
	padding: 30px 20px;
	z-index:-2;
}

body.full #section-nav {
	display: none;
}
#section-nav {
	float: left;
	margin: 10px 0px 0px 0px;
	padding: 0px;
	width: 192px;
	/*
	background-color: white;
    background-image: url('/images/paperbg.gif');
    background-repeat: repeat;
    background-position: left top;
	background-image: -moz-linear-gradient(rgba(200,200,200,.2) 1px, transparent 1px), -moz-linear-gradient(0, rgba(200,200,200,.2) 1px, transparent 1px);
	background-size: 18px 18px, 18px 18px;
	*/
}

#section-nav .polaroid {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
#section-nav ul,
#sidebar-right ul {
  margin: 0;
}

#section-nav h1 {
	margin: 0;
	border: 0px;
	text-align: right;
}
#sidebar-right h2.title,
#section-nav h2.title {
	clear: both;
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	margin: 0;
	padding: 0 0 5px;
}

#sidebar-right .content h2.title,
#section-nav .content h2.title {
  color: #777;
  padding-bottom: 10px;
}

#sidebar-right p,
#section-nav p {
  margin: 0;
  padding: 0;
}

#section-nav .panel-separator {
	margin-bottom: 0.5em;
}

#lower {
	margin-top: 16px;
}

body.dossier #main {
    background: #e7d3a5;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.0, #E7D3A5),
		color-stop(0.498, #D6B684),
		color-stop(0.5, #9E8662),
		color-stop(0.60, #D6B684),
		color-stop(1.0, #E7D3A5)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#E7D3A5 0%,
		#D6B684 49.8%,
		#9E8662 50%,
		#D6B684 60%,
		#E7D3A5 100%
	);
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

body.dossierfront h1 {
	margin: 10px 0 16px 0;
}

body.dossierfront #main {
    background: #e7d3a5;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.0, #E7D3A5),
		color-stop(0.498, #D6B684),
		color-stop(0.5, #9E8662),
		color-stop(0.60, #D6B684),
		color-stop(1.0, #E7D3A5)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#9E8662 0%,
		#D6B684 60%,
		#E7D3A5 100%
	);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 0px;
}

body.full #content, body.airmail #content {
	padding: 10px 0;
}
body.airmail #main {
	background-color: #fff;
	background-image: -webkit-linear-gradient(45deg, rgba(0,0,255,.4) 8%, transparent 8%,
						transparent 16%, rgba(255,0,0,.4) 16%, rgba(255,0,0,.4) 33%, transparent 33%, 
						transparent 42%, rgba(0,0,255,0.4) 42%,rgba(0,0,255,0.4) 58%, transparent 58%,
						transparent 66%, rgba(255,0,0,0.4) 66%, rgba(255,0,0,0.4) 84%, transparent 84%,
						transparent 92%, rgba(0,0,255,0.4) 92%, rgba(0,0,255,0.4));
	background-image: -moz-linear-gradient(45deg, rgba(0,0,255,.4) 8%, transparent 8%,
						transparent 16%, rgba(255,0,0,.4) 16%, rgba(255,0,0,.4) 34%, transparent 34%, 
						transparent 41%, rgba(0,0,255,0.4) 41%,rgba(0,0,255,0.4) 59%, transparent 59%,
						transparent 67%, rgba(255,0,0,0.4) 67%, rgba(255,0,0,0.4) 84%, transparent 84%,
						transparent 92%, rgba(0,0,255,0.4) 92%, rgba(0,0,255,0.4));
	background-image: -ms-linear-gradient(45deg, rgba(0,0,255,.4) 8%, transparent 8%,
						transparent 16%, rgba(255,0,0,.4) 16%, rgba(255,0,0,.4) 33%, transparent 33%, 
						transparent 42%, rgba(0,0,255,0.4) 42%,rgba(0,0,255,0.4) 58%, transparent 58%,
						transparent 66%, rgba(255,0,0,0.4) 66%, rgba(255,0,0,0.4) 84%, transparent 84%,
						transparent 92%, rgba(0,0,255,0.4) 92%, rgba(0,0,255,0.4));
	background-image: -o-linear-gradient(45deg, rgba(0,0,255,.4) 8%, transparent 8%,
						transparent 16%, rgba(255,0,0,.4) 16%, rgba(255,0,0,.4) 33%, transparent 33%, 
						transparent 42%, rgba(0,0,255,0.4) 42%,rgba(0,0,255,0.4) 58%, transparent 58%,
						transparent 66%, rgba(255,0,0,0.4) 66%, rgba(255,0,0,0.4) 84%, transparent 84%,
						transparent 92%, rgba(0,0,255,0.4) 92%, rgba(0,0,255,0.4));
	background-image: linear-gradient(45deg, rgba(0,0,255,.4) 8%, transparent 8%,
						transparent 16%, rgba(255,0,0,.4) 16%, rgba(255,0,0,.4) 34%, transparent 34%, 
						transparent 42%, rgba(0,0,255,0.4) 42%,rgba(0,0,255,0.4) 58%, transparent 58%,
						transparent 66%, rgba(255,0,0,0.4) 66%, rgba(255,0,0,0.4) 84%, transparent 84%,
						transparent 92%, rgba(0,0,255,0.4) 92%, rgba(0,0,255,0.4));
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	margin:5px;
	padding:10px 0;
    background-size: 50px 50px;
}

/* For full width pages we'll provide a bit more whitespace */
body.full #main .page {
	padding: 32px!important;
}
body.dossier #main .page, body.airmail #main .page {
	margin:0px;
	padding:16px;
	background-color: white;
}
body.airmail #main .page {
	background-color: white;
	background-image: url('/images/frank.png');
	background-repeat: no-repeat;
	background-position: right top;
}
body.dossier #main .page {
	margin: 16px!important;
	padding: 24px 16px 16px 16px;
	background: url('/images/paperbg3.gif') repeat left center;
	box-shadow: 2px 2px 5px #333;
	-moz-box-shadow: 2px 2px 5px #333;
	-webkit-box-shadow: 2px 2px 5px #333;
}
body.full #main .page {
	padding:16px 8px 8px 8px;
}
body.dossier #main .page .eventimage {
	float: right;
    position:relative;
    top:-28px;
    margin-left:20px;
	margin-right:-10px;
}

body.dossier #main .page .eventimage img.bio {
	z-index: 1;
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-top: 10px solid white;
    border-bottom: 35px solid white;
}
body.dossier #main .page .eventimage img.paperclip { 
	z-index: 2;
	position: absolute;
	top:-8px;
	left:70%;
	background: transparent;
    box-shadow: 0px 0px 0px #333;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

body.dossier #main .page .eventimage p {
	position: relative;
	z-index: 3;
	top: -30px;
	width: 88%;
	text-align:center;
}
body.dossier #main .page .eventimage p { 
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}
.missionbrief {
	z-index:1;
	float:left;
	width:448px;
	min-height:318px;
	position:relative;
}
.missionvideo {
	z-index:0;
	float:right;
	overflow:hidden;
	position:relative;
	width:448px;
	height:318px;
}
.gettingstarted{
    font-family: SecretTypewriterRegular, Courier, "Courier New", monospace;
    color:#f00;
    opacity:0.7;
    position:absolute;
    top:360px;
    font-size:110%;
    margin-left:20px;
}
.objectspecific {
	font-family: SecretTypewriterRegular, Courier, "Courier New", monospace;
	color: #000;
	opacity: 0.7;
}

#finderthumb {
	padding:8px;
	width: 174px;
	height:198px;
}
img.snap {
	width:174px;
	height:174px;
}

h1 .objectspecific, h2 .objectspecific {
	letter-spacing: 2px;
}

body.dossier #main .furtherinfo {
	float: right;
    position:relative;
	background-color: #ddd;	
	padding:10px;
	background-image: url("/images/paper.jpg");
	background-position:right center;
	background-repeat: no-repeat;
	margin-left:10px;
	margin-bottom:10px;
    box-shadow: 1px 1px 2px #777;
	-moz-box-shadow: 1px 1px 2px #777;
	-webkit-box-shadow: 1px 1px 2px #777;
}
body.dossier #main .page .furtherinfo img.paperclip { 
	z-index: 2;
	position: absolute;
	top:-18px;
	right:5px;
	background: transparent;
    box-shadow: 0px 0px 0px #333;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
	-webkit-transform: rotate(93deg);
	-moz-transform: rotate(93deg);
	-o-transform: rotate(93deg);
	transform: rotate(93deg);
}
body.dossier #main .page .furtherinfo img.tape { 
	z-index: 2;
	position: absolute;
	top:-37px;
	left:-40px;
	background: transparent;
    box-shadow: 0px 0px 0px #333;
	-moz-box-shadow: 0px 0px 0px #333;
	-webkit-box-shadow: 0px 0px 0px #333;
}
body.dossier #main .furtherinfo table {
	border: 0px!important;
}
body.dossier #main .page .infobox {
}


/*.exoplanet{
    border: solid 5px #333;
    width: 210px;
    float: left;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
    margin:5px;
}

.exoplanet .title h3{
    margin:0;
    padding: 5px 5px 5px 5px;
    text-align: center;
    color: #ddd;
    background: #000;
}

.exoplanet .eventimage{
background: #000;
}

.exoplanet .eventimage img{
    display:block;
    margin:0px auto;
    padding: 0 0 5px 0;
}*/

.exoplanet2 {
    background: #e7d3a5!important;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e7d3a5), to(#d6b684))!important;
    background: -moz-linear-gradient(19% 75% 90deg,#d6b684,#e7d3a5)!important;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-box-shadow:0 0 2px #C1C2BD;
    -webkit-box-shadow:0 0 2px #C1C2BD;
	width: 210px;
	float: left;
	box-shadow: 5px 5px 10px #333;
	-moz-box-shadow: 5px 5px 10px #333;
	-webkit-box-shadow: 5px 5px 10px #333;
	margin:10px; 
	margin-left:20px;
	min-height:160px;
}

body.dossier #main .eventimage img,
.exoplanet2 .eventimage img{
    display:block;
    margin:-5px 20px auto auto;
    box-shadow: 0 0 10px #333;
    -moz-box-shadow: 0 0 10px #333;
    -webkit-box-shadow: 0 0 10px #333;
	-moz-transform:rotate(2deg);
	-webkit-transform:rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
}

.exoplanet2 .eventimage img {
	z-index: 1;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 5px solid white;
}

.exoplanet2 .title h3{
	margin:0;
	font-family:"Courier New", Courier !important;
	padding: 5px;
	margin: 0 25px;
	text-align: center;
	color: #900;
	border:2px solid #900;
	-moz-transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	-o-transform: rotate(10deg);
	transform: rotate(10deg);
}

.poppitypin { padding:10px; background-color: white; }
.poppitypin:hover { z-index:100!important; }

.crumpledpaper {
	background: url("/images/paper.jpg") repeat left center;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.paper, .stackedpaper	{
	position: relative;
	z-index: 10;
	background-color: white;
    background: url('/images/paperbg3.gif') repeat left top;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.stackedpaper:before { 
	z-index: -2; 
	position: absolute;
	top:3px;
	left:1px;
	width: 100%;
	height: 100%;
	content: '';
	background-color: white;
    background: url('/images/paperbg3.gif') repeat left center;
	-webkit-transform: rotate(0.8deg);
	-moz-transform: rotate(0.8deg);
	-o-transform: rotate(0.8deg);
	transform: rotate(0.8deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.stackedpaper:after {
	z-index: -1;
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	content: '';
	background-color: white;
	background-image: url('/images/paperbg3.gif');
	background-repeat: repeat;
	/*background-position: left top;
	background-image: -moz-linear-gradient(rgba(200,200,200,.2) 1px, transparent 1px), -moz-linear-gradient(0, rgba(200,200,200,.2) 1px, transparent 1px);
	background-size: 16px 16px, 16px 16px;*/
	-webkit-transform: rotate(-0.0deg);
	-moz-transform: rotate(-0.0deg);
	-o-transform: rotate(-0.0deg);
	transform: rotate(-0.0deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.datestamp {
	float: right;
	position:relative;
	top:-8px;
	right: 0px;
}
.dymotape {
	padding:5px;
	background: #555;
	color: #ddd;
	text-shadow: #fff -1px 0px 0.5px, #000 1px 1px 0.5px;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	border: 1px solid #555;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	transform: rotate(1deg);
	font-family: Courier, "Courier New", monospace!important;
    text-transform: uppercase;
    z-index:2;
}

.sky {
	background: rgb(245,145,241) transparent;
	background: rgba(245,145,241,0.6);
	/* For IE 5.5 - 7 (strings are 8 digit colour codes with the first 2 being the opacity in range 0-255 as hex!)*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99F591F1, endColorstr=#99F591F1);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99F591F1, endColorstr=#99F591F1)";
}
.source {
	background: rgb(50,150,200) transparent;
	background: rgba(50,150,200,0.6);
	color: rgb(255,255,255);
	/* For IE 5.5 - 7 (strings are 8 digit colour codes with the first 2 being the opacity in range 0-255 as hex!)*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#993296C8, endColorstr=#993296C8);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#993296C8, endColorstr=#993296C8)";
}
.calibrator {
	background: rgb(255,228,73) transparent;
	background: rgba(255,228,73,0.6);
	/* For IE 5.5 - 7 (strings are 8 digit colour codes with the first 2 being the opacity in range 0-255 as hex!)*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE449FF, endColorstr=#FFE449FF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFE449FF, endColorstr=#FFE449FF)";
}
strong.calibrator, strong.source, strong.sky {
	padding:0 0.3em 0 0.3em;
}
.notincluded {
	color: #fff;
	background: #ddd;
}
#datatable {
	max-width: 900px;
	overflow-x: scroll;
}
#datatable td,#datatable th {
	text-align:center;
	white-space:nowrap;
}
#datatable td:first-child, #datatable th:first-child {
	text-align:left;
}
/*
Helper information boxes
*/
.tablink {
	background-color:#ccc;
	font-size:2em;
	padding:0.3em;
	z-index:0;
	font-family: serif;
	text-align: right;
	width:1em;
	color:white;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-right-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomright: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
	box-shadow: inset 2px 0px 2px #777;
	-moz-box-shadow: inset 2px 0px 2px #777;
	-webkit-box-shadow: inset 2px 0px 2px #777;
	overflow: hidden;
	height: 0.6em;
}
.tablink img {
	float: right;
	width: 1em;
}
.tablink:hover {
	background-color:#ddd;
}
.tabactive {
	background-color:#ddd;
	width: 1em;
	z-index: 50;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: 2px 0px 2px #777;
	-moz-box-shadow: 2px 0px 2px #777;
	-webkit-box-shadow: 2px 0px 2px #777;
}
.tabactive:hover {
	background-color:#dedede;
}
#help {
	display: none;
}
#helplink {
	cursor: pointer;
	text-align:center;
	background-color:#2788E8;
	box-shadow: inset 2px 0px 2px #222!important;
	-moz-box-shadow: inset 2px 0px 2px #222!important;
	-webkit-box-shadow: inset 2px 0px 2px #222!important;
}
#helplink:hover {
	background-color:#3899F9;
}
.helpactive {
	background-color:#49AAFA!important;
	width: 1.5em;
}
.helpactive:hover {
	background-color:#1F6DBA!important;
}

#helper{
	width:320px;
	background-color: #eee;
	padding: 10px;
	position:relative;
	border: 5px solid #999;
	font-size:0.8em;
	margin:5px 5px 5px 10px;
}

#helper-arrow-border {
	border-color: transparent #666666 transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:10px;
	left:-21px;
}

#helper-arrow {
	border-color: transparent #ddd transparent transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:10px;
	left:-20px;
}

/* IE6 */
#helper-arrow {
	 _border-left-color: pink;
	 _border-bottom-color: pink;
	 _border-top-color: pink;
	 _filter: chroma(color=pink);
} 

#toolbar .fancybtn, #toolbar .fancybtngrey {
	width: 166px;
}
.fancybtn,.fancybtngrey {
	color: #fff!important;
	display: inline-block;
	text-align: center;
	text-decoration: none!important;
	line-height: 1.3em;
	font-size: 1.3em;
	margin-top: 10px;
	padding: 12px 12px 12px 12px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*** Adding CSS3 Gradients ***/
	background: #1A6C10;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#259718), to(#1A6C10));
	background: -moz-linear-gradient(19% 75% 90deg,#1A6C10, #259718);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.fancybtn:hover {
	cursor: pointer!important;
	background: #259718;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.fancybtn:active,.fancybtn-active {
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1A6C10), to(#259718));
	background: -moz-linear-gradient(19% 75% 90deg,#259718,#1A6C10);
}
.fancybtndisable {
	cursor: default!important;
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
}
.fancybtndisable:hover {
	cursor: default!important;
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
}
.fancybtndisable:active {
	background: #bbbbbb!important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#bbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbb, #eee)!important;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.4)!important;
}
.fancybtngrey {
	cursor: pointer!important;
	color: black!important;
	background: #dddddd;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dddddd));
	background: -moz-linear-gradient(19% 75% 90deg,#dddddd, #fefefe);
}
.fancybtngrey:hover {
	background: #bbbbbb;
}
.fancybtngrey:active, .fancybtngrey-active {
	box-shadow: inset 0 -2px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5);
	background: #bbbbbb;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ededed), to(#bbbbbb))!important;
	background: -moz-linear-gradient(19% 75% 90deg,#bbbbbb, #ededed)!important;
}
.fancybtngrey a {
	color: black;
}
.fancybtngrey {
	text-align: left;
}
.fancybtngrey img {
	float: left;
	margin-right: 0.5em;
	margin-top:3px;
}
.fancybtn .arrow {
	width: 30px!important;
	display: inline-block;
	background-image: url("/images/playback_play_icon&24_w.png");
 	background-position:right center;
	background-repeat: no-repeat;
}
.fancybtnglow {
	border: 1px solid rgba(255,255,255,0.2);
	box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
	-moz-box-shadow: 0px 0px 10px rgba(255,255,255,0.4);
	-webkit-box-shadow: 0px 0px 10px rgba(255,255,255,0.4);	
}


/***** Progress bar
*****/

.progress,
.label{
    margin-right:5px;
}
#progressbar{
    height:10px;
    width:180px;
    float:left;
    margin-top:3px;
}

.ui-corner-all {
    border-radius: 4px 4px 4px 4px;
}
.ui-widget-content {
    background: 50% top #EEEEEE;
    border: 1px solid #DDDDDD;
    color: #333333;
}
.ui-progressbar-value {
        height: 100%;
        margin: -1px;
}
.ui-widget-header {
    background: url("/images/progresshighlight.png") repeat-x scroll 50% 50% #F6A828;
    border: 1px solid #E78F08;
    color: #FFFFFF;
    font-weight: bold;
}

/**
 Messages stylings
 **/

#message {
	position: absolute;
	z-index: 30;
	padding: 5px;
	margin:0px 0px 20px 0px;
	border: 1px solid black;
	background-color: #efefef;
}

#message ul{
	margin:0;
	padding:0;
	list-style: none;
}

#message ul li{
	margin:0;
	margin-bottom: 8px;
	border: 0px!important;
}
#message ul li:last-child {
	margin-bottom: 0px;
}
li.success, li.warning, li.error {
	background-color: transparent!important;
}
.radio {
	margin: 0 3px 0px 3px;
	padding: 0 0 0 0px;
	background-repeat:no-repeat;
	cursor: default;
	float:left;
	text-align:center;
}
.radio a {
	width: 60px;
	height: 40px;
}
.imgbutton{
    float:right;
}
.imgbutton a {
	width: 60px;
}
.radio input.show {
	display: inline;
}

ul.badges { padding: 0px; margin: 0 0 0px 0px; clear: both; width: 100%; list-style: none; }
ul.badges li { display: inline-block; margin: 0px 16px 16px 0px; height: 96px; }
ul.badges li:nth-child(8n) { margin-right: 0px; }
ul.badges li img {
	border: 2px dashed transparent;
	width: 92px;
	height: 92px;
}	
ul.badges li.locked img {
	border: 2px dashed #BBB;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	/* Required for IE 5, 6, 7 to trigger hasLayout */
	zoom: 1;
	
	/* Theoretically for IE 8 & 9 (more valid) should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

	/* This works in IE 8 & 9 too but also 5, 6, 7 */
	filter: alpha(opacity=30);

	/* Older than Firefox 0.9 */
	-moz-opacity:0.3;

	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.3;

	/* Modern! Firefox 0.9+, Safari 2?, Chrome any? Opera 9+, IE 9+ */
	opacity: 0.3;
}

.breadcrumb {
	padding: 0px;
	margin-bottom: 1em;
	list-style: none; 
	overflow: hidden; 
	font: 2em;
}
.breadcrumb li { 
	float: left; 
}
.breadcrumb li img {
	height: 1em;
}
.breadcrumb li a {
	color: black;
	text-decoration: none; 
	padding: 0.5em 0 0.5em 3em;
	background: #BBB;
	position: relative; 
	display: block;
	float: left;
	-webkit-border-top-left-radius: 0.3em;
    -webkit-border-bottom-left-radius: 0.3em;
    -moz-border-radius-topleft: 0.3em;
    -moz-border-radius-bottomleft: 0.3em;
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 2em solid #BBB;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 2.1em solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li.active a {
	background: #DEDEDE;
}
.breadcrumb li.active a:after { 
	border-left: 2em solid #DEDEDE;
}
.breadcrumb li:first-child a {
	padding-left: 10px;
}
.breadcrumb li:last-child a {
	padding-right: 1em;
	-webkit-border-top-right-radius: 0.3em;
    -webkit-border-bottom-right-radius: 0.3em;
    -moz-border-radius-topright: 0.3em;
    -moz-border-radius-bottomright: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
}
.breadcrumb li:last-child a:after {
	border: 0;
}
.breadcrumb li a:hover { background: #DEDEDE; }
.breadcrumb li a:hover:after { border-left-color: #DEDEDE !important; }

#morecalbtn {
    float:right;
}
#morecalbtn a {
	color: black;
	text-decoration: none; 
	padding: 0.5em;
	background: #BBB;
	display: block;
	-webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
}

#morecalbtn a:hover {
    color:white;
    background: #666;
}

ul.polaroids li.polaroid {
	width: 205px;
	height: 248px;
	border: 1px solid #cccccc;
}

ul.polaroids img {
	width: 192px;
	height: 192px;
}
ul.polaroids li:nth-child(6n) { margin-right: 16px; }
ul.polaroids li:nth-child(4n) { margin-right: 0px; }
.polaroid p {
	position: relative;
	z-index: 3;
	margin:auto;
	text-align:center;
}
.polaroidtriangle {
	position:absolute;
	top: -10px;
	right: 0px;
	z-index:5;
}
.polaroidtriangle img {
	width:64px!important;
	height: 64px!important;
}
.fullimg img {
	width: 100%;
}

@media only screen and (max-width: 1050px), only screen and (max-height: 900px) {
	#screen { width: 90%; max-width: 976px; }
	#container {
		position: relative;
		width: 100%;
	}
	#section-nav { width: 20%; }
	#toolbar { position: relative; }
	.polaroid { padding: 8px; }
	#toolbar .fbtn { width: 100%; display: block; }
	#finderthumb, img.snap { width: 100%; padding: 0px; height: auto; }
	#toolbar .fancybtn, #toolbar .fancybtngrey { padding: 8px; display: block; width: auto; max-width: 100%; }
	#finderthumb, #finderthumb img.snap, #toolbar .fancybtn, #toolbar .fancybtngrey, #finderthumb_holder svg { max-width: 100%; height: auto; }
	#main {
		width: 78%;
	}
	#photometric, #photometric_imageholder_small { max-width: 100%; height: auto; }
}
@media only screen and (max-height: 800px){
	#screen { max-width: 976px; }
}
@media only screen and (max-height: 700px){
	#screen { max-width: 800px; }
}
@media only screen and (max-height: 600px){
	#screen { max-width: 720px; }
}
@media only screen and (max-height: 500px){
	#screen { max-width: 640px; }
}