#page-wrapper { background: url('/images/new-bg.png') repeat-x transparent; }
#page { background: url('/images/new-header-bg.png') transparent no-repeat; background-position: center top; }
.discrete {font-size:0.85em;}
