{% extends 'agentex/base.html' %}
{% block body-class %}full agentex dossier {%endblock%}

{%block header %} Agent Exoplanet comments{%endblock%}

{% block script-content %}
	<script language="javascript" type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
    <script type="text/javascript">
    {% if messages %}
	$(document).ready(function(){
	extra = "";
	extra = $('#message').html()
	bubblePopup({id:'message',el:$('#commentform'),align:"center",w:200,animate:true,fade:2000,dismiss:true,html:extra})
	})
	{% endif %}

	</script>
{% endblock %}

{% block main-content %}
	<div class="page stackedpaper">
	    {% if messages %}					<div id="message">
        						<ul class="messages">
        {% for message in messages %}{%ifchanged%}		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
        						</ul>
        					</div>{% endif %}
	    <div class="rowfirst">
	        <h1>Comments and Suggestions</h1>
	    <p>Have you noticed any bugs in Agent Exoplanet or have suggestions for us to improve it? Please use the form below to send them to us.</p>
	    </div>
	    <form method=POST action="" id="commentform">
	        {% csrf_token %}
            {% if form.errors %}
            <div class="row error">Please complete the form.</div>
            {% endif %}
             <div class="row rowfull">
    	        <div class="onecol"><label for="id_emailaddress">{{form.emailaddress.label}}</label></div><div class="threecol lastcol">{{form.emailaddress}}</div>
	        </div>
	        <div class="row rowfull">
    	        <div class="onecol"><label for="id_comment">{{form.comment.label}}</label></div><div class="threecol lastcol">{{form.comment}}<br>{{form.comment.help_text}}</div>
	        </div>
	        <div class="row rowfull">
    			<input type="submit" value="Post my comment">
    		</div>
    	</form>
	</div>
{% endblock %}