<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>{%block header %}{%endblock%} | LCOGT</title>
	<meta charset="UTF-8" />
	<meta name="author" content="Las Cumbres Observatory Global Telescope Network" />
	{% block meta %}{% endblock %}
	<link rel="shortcut icon" href="http://lcogt.net/sites/default/themes/zen/lcogt/favicon.ico" type="image/x-icon" />
	{% block favicon %}<link rel="icon" type="image/png" href="{{MEDIA_URL}}images/favicon.png" />{% endblock %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css2/lcogt.css" type="text/css" />
	<link rel="stylesheet" href="{{MEDIA_URL}}css2/portal.css" type="text/css" />{% block css-content %}{% endblock %}
	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}js/agentex.js"></script>{% block script-content %}{% endblock %}
	<script type="text/javascript">
	<!--
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2087713-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
	// -->
    </script>
    <style type="text/css">
		dd.observations{ background: url('{{MEDIAURL}}/images/observations.png') no-repeat left center; }
		dd.vsky{ background: url('{{MEDIAURL}}/images/vsky.png') no-repeat left center; }
		dd.activities{ background: url('{{MEDIAURL}}/images/activities.png') no-repeat left center; }
		dd.forum{ background: url('{{MEDIAURL}}/images/forum.png') no-repeat left center; }
    </style>
</head>
<body class="{% block body-class %}{% endblock %}{% if user.is_authenticated %}{% else %}not-{% endif %}logged-in">

	<a class="access" href="#main">[Skip to Content]</a>

	<div id="page-wrapper">
		<div id="page">
		
			<div id="lcogt-bar">
				{% block login %}<div id="login" class="block">{% if user.is_authenticated %}<a href="{% url agentex.views.editaccount %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{user.username}}{% endif %}</a> | <a href="{% url django.contrib.auth.views.logout %}">Logout</a>{% else %}<a href="{% url django.contrib.auth.views.login %}">Login</a> | <a href="{% url register %}?next={{ request.path }}">Register</a>{% endif %}</div>{% endblock %}
				<div>
					<a href="http://lcogt.net/" title="LCOGT Home">Las Cumbres Observatory Global Telescope Network</a> | <a href="{% url portal %}" title="Citizen Science portal" rel="home">Citizen Science portal</a>
				</div>
			</div>

			<div id="screen">
					<div id="container">
		
					<div id="header">
						{% block logo-content %}<div id="logo"><a href="{% url portal %}" title="Citizen Science Home" rel="home"><img src="{{MEDIA_URL}}images/citsci-logo2.png" alt="Home" id="logo-image" /></a></div>{% endblock %}
						<div id="logo2"><a href="http://lcogt.net" title="LCOGT Home" rel="home"><img src="{{MEDIA_URL}}images/logo-gray-poweredby.png" alt="Home" id="logo-image2" /></a></div>
					</div>
		
					{% block navbar %}
					{% endblock %}
					<div id="main">
						{% block main-content %}{% endblock %}
					</div>
{% block section-nav%}
					<div id="section-nav">
						<div class="section-nav-pane" style="color:white">{% block upper-menu%}{%endblock%}			</div>
						<div class="panel-separator"></div>
						<div class="panel-pane">{% block lower-menu%}{%endblock%}			</div>
					</div>
{% endblock %}
					<div class="clear-block"></div>
					<div id="footer">{% block footer%}{% endblock %} | Copyright &copy; 2012 Las Cumbres Observatory Global Telescope Network. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>