<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<title>{%block header %}{%endblock%} | Las Cumbres Observatory Global Telescope Network</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="DC.Title" content="Las Cumbres Observatory Global Telescope Network" />
	<link rel="shortcut icon" href="http://lcogt.net/sites/default/themes/zen/lcogt/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="{{MEDIA_URL}}css2/lcogt.css" type="text/css">{% block css-content %}{% endblock %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ MEDIA_URL }}js/agentex.js"></script>{% block script-content %}{% endblock %}
	<script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2087713-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body class="{% block body-class %}{%endblock%}{% if user.is_authenticated %}{% else %}not-{% endif %}logged-in">

	<div id="page-wrapper">
		<div id="page">
		
			<div id="lcogt-bar">
				<div id="login" class="block">{% if user.is_authenticated %}{% block username %}{{ user.username }}{% endblock %} | <a href="{% url django.contrib.auth.views.logout %}">Logout?</a>{% else %}<a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a>{% endif %}</div>
				<div>
					<a href="http://lcogt.net/" title="LCOGT Home" rel="home">Las Cumbres Observatory Global Telescope Network</a> | <a href="{% url portal %}" title="Citizen Science portal" rel="home">Citizen Science portal</a>
				</div>
			</div>

			<div id="screen">
		
				<div id="container">
		
					{% block logo-content %}<div id="logo"><a href="{% url portal %}" title="Citizen Science Home" rel="home"><img src="{{MEDIA_URL}}images/citsci-logo2.png" alt="Home" id="logo-image" /></a></div>{% endblock %}
					<div id="logo2"><a href="http://lcogt.net" title="LCOGT Home" rel="home"><img src="{{MEDIA_URL}}images/logo-gray-poweredby.png" alt="Home" id="logo-image" /></a></div>
		
					{% block navbar %}
					<div id="navbar" class="primary clear-block">
						<ul class="links">
							<li><a href="{% url register %}">Register to take part</a></li>
						</ul>
					</div>
					{% endblock %}
					<div class="clear-block"></div>
		
					<div id="main">
						<!--<div id="content">-->{% block main-content %}{% endblock %}			<!--</div>-->
					</div>
{% block section-nav%}
					<div id="section-nav">
						<div class="section-nav-pane" style="color:white">{% block upper-menu%}{%endblock%}			</div>
						<div class="panel-separator"></div>
						<div class="panel-pane">{% block lower-menu%}{%endblock%}			</div>
					</div>
{% endblock %}
					<div class="clear-block"></div>
					<div id="footer">Copyright &copy; 2011 Las Cumbres Observatory Global Telescope Network. All rights reserved.</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>