{% extends 'base.html' %}

{% block body-class %}full {%endblock%}

{%block header %}Citizen Science portal{%endblock%}

{% block script-content %}
{% if messages %}
	<script type="text/javascript">
	<!--
	$(document).ready(function(){
		bubblePopup({id:'message',el:$('#main'),align:"center",fade:2000,w:200,animate:true,dismiss:true});
	});
	// -->
	</script>
{% endif %}
{% endblock %}

{% block main-content %}
				
				<div class="row rowfirst">
					<div class="twocol">
						<a href="{% url agentex.views.index %}"><img src="{{MEDIA_URL}}images/agentex-logo.png" alt="Agent Exoplanet" style="width: 100%;" /></a>
					</div>
					<div class="twocol">
						<a href="{% url showmestars.views.latestimages %}"><img src="{{MEDIA_URL}}images/showmestars.jpg" alt="Show Me Stars!" style="width: 100%;" /></a>
					</div>
					<div class="twocol lastcol">
					</div>
				</div>

				<div class="row">
					<div class="threecol">
						<h3>Citizen Science?</h3>
						<p>We would like people to engage in interesting and potentially exciting investigations. You could be a school or university student, an amateur astronomer, or just someone with an interest in being involved in science. We think of you all as Citizen Scientists.</p>
						<p>We are developing more ways for you to be involved in science investigations which will make use of our robotic telescope network. In the meantime our website has lots of resources for you to explore.<br/><a href="http://lcogt.net/en/education/about">read&nbsp;more on the main website&nbsp;&raquo;</a></p>
					</div>
					<div class="threecol lastcol">
						<h3>Website Resources</h3>
						These are some of the resources you can download and use from our website, without taking part in a project or observing campaign
						<dl class="resourcelist">
							<dt><a href="http://lcogt.net/observations">Observations</a></dt>
							<dd class="observations">Browse our archive of observations, download the astronomical data files and images, view the images as a slideshow and more.</dd>
							<dt><a href="http://lcogt.net/virtualsky">Virtual Sky</a></dt>
							<dd class="vsky">Embed our planetarium in your website or blog. Customize it to any date and viewing location on Earth. Show constellations, planets, and a variety of different sky projections.</dd>
							<dt><a href="http://lcogt.net/education/activities">Activities</a></dt>
							<dd class="forum">Browse through some of the things you can do with archive data and without a telescope.</dd>
							<dt><a href="http://lcogt.net/education">Education website</a></dt>
							<dd class="activities">Have a look at the education and public engagement side of LCOGT.</dd>
						</dl>
					</div>				
				</div>

{% if messages %}
				<div id="message">
					<ul class="messages">
{% for message in messages %}{%ifchanged%}						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
					</ul>
				</div>
{% endif %}
{% endblock %}
