{% extends "base.html" %}

{% block body-class %}full {%endblock%}

{% block header %}
Portal Login
{% endblock %}

{% block script-content %}
	<script type="text/javascript">
	<!--
	$(document).ready(function(){
		$('#username').focus().select();
	});
	// -->
	</script>
{% endblock %}

{% block main-content %}

						<div class="row rowfirst">
							<h1>Log into your account</h1>
							<p>If you do not already have an account please <a href="{% url 'register' %}?next={{next}}">register</a> for one.</p>
{% if form.errors %}
							<div class="row error">The username or password was not recognized. Please try again.</div>
{% endif %}
            
							<form action="" method="post"  id="customForm" >
								{% csrf_token %}
								<label for="username">User name:</label>
								<input type="text" name="username" value="" id="username">
								<label for="password">Password:</label>
								<input type="password" name="password" value="" id="password">
								<input type="hidden" name="next" value="{{ next }}">
								<div id="end">
									<input type="submit" value="login" />
								</div>
							</form>
						</div>
{% endblock %}
