{% extends 'agentex/base.html' %}

{% block body-class %}full agentex dossier planets {%endblock%}

{% block script-content %}
	<script type="text/javascript" charset="utf-8">
	<!--
	$(document).ready(function(){
			bubblePopup({id:'message',el:$('#main'),align:"center",fade:2000,w:200,animate:true,dismiss:true});
	});
	// -->
	</script>
{%endblock%}

{%block header %}Planets{%endblock%}

{% block main-content %}
				<div class="page stackedpaper">
{% if messages %}					<div id="message">
						<ul class="messages">
{% for message in messages %}{%ifchanged%}		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{%endifchanged%}{% endfor %}
						</ul>
					</div>{% endif %}
					<h1>Investigate a planet</h1>
					<p>{% if user.is_authenticated %}Welcome <a href="{% url 'profile' %}">{% if user.first_name %}{{ user.first_name }}{% else %}{{user.username}}{% endif %}</a>, c{% else %}C{% endif %}lick on one of the planets below to begin your investigation.</p>
					<ul class="polaroids">
{% for line in data %}

						<li class="polaroid">{% if line.completed == line.event.numobs %}<span class="polaroidtriangle"><img src="{{STATIC_URL}}images/label_complete.png" alt="completed" title="Completed" /></span>{% else %}{% if line.level %}<span class="polaroidtriangle"><img src="{{STATIC_URL}}images/label_{{line.level}}.png" alt="{{line.level}}" title="{{line.level}}" /></span>{% endif %}{% endif %}<a href="{% url 'infoview' line.event.name %}"><img src="{{STATIC_URL}}{% if line.event.illustration %}{{line.event.illustration}}{%else%}{{line.target.finderchart}}{%endif%}" alt="Illustration of {{line.event.title}}" title="Click to begin your investigation of {{line.event.title}}"> <span class="objectspecific">{{line.event.title}}</span></a><br /><span class="objectspecific">{% if line.completed %}(Completed {{line.completed}}/{{line.event.numobs}}){% else %}({{line.event.numobs}} images){% endif %}</span></li>
{% endfor %}
						<li class="polaroid"><a href="#"><img src="{{STATIC_URL}}images/unknown.png" alt="Coming soon" title="Access denied"> <span class="objectspecific">Coming soon</span></a></li>
					</ul>

					<p style="margin-bottom:0px;">Data courtesy of <a href="http://lcogt.net">Las Cumbres Observatory Global Telescope Network</a>; Thumbnail images courtesy of the <a href="http://www.sdss.org/">Digital Sky Survey 2</a>.</p>
				</div>
{% endblock %}

{% block section-nav%}
{% endblock %}
