{% extends 'admin/index.html' %}

{% comment %}
'calibrators' - multidimensional list of normalised lightcurves for individual calibrators
'dates' - list of UNIX timestamps in same order as calibrators
'calids' - list of the calibrator IDs
'cats' - JSON containing each calibrator star ID (sourcename), catalogue name (catalogue) and totals for each decision (decisions)
'title' - A title for the page
{% endcomment %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">Home</a> > <a href="{% url 'agentex_event_changelist' %}">Planets</a>
</div>
{% endblock %}

{% block extrahead %}
	<link rel="stylesheet" href="{{STATIC_URL}}css2/agentex.css" type="text/css" media="screen,print" />
	<style>
	.dashboard #content { width: auto; }
	#lightcurves { width: 600px; }
	.calibrator {
		background-color: #eee;
		padding: 16px;
		border-radius: 8px;
		margin-bottom: 16px;
		width: 784px;
		position: relative;
	}
	.calibrator h3 { margin-top: 0px; }
	.calibrator .graph {
		width: 600px;
		height: 200px;
		display: inline-block;
	}
	.breakdown { position: relative; }
	.breakdown .user-calibrator { margin-top: 16px; position: relative; }
	.calibrator .decisions { text-align: center; }
	.calibrator .decisions, .breakdown .included {
		width: 168px;
		margin-left: 16px;
		display: inline-block;
		position: absolute;
		top: 38px;
	}
	.calibrator .decision {
		background: white;
		padding: 4px;
		display: inline-block;
		margin: 0px 8px 8px 0px;
		border-radius: 4px;
		text-align: center;
	}
	.calibrator .decision:nth-child(3n) {
		margin-right: 0px;
	}
	.calibrator .decision a {
		display: block;
		width: 42px;
		height: 28px;
	}
	.calibrator .decision img {
		float: left;
		width: 100%;
	}
	.calibrator .decision.zero {
		opacity: 0.3;
		background: #bbbbbb;
	}
	</style>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="{{ STATIC_URL }}js/jquery.graph.js"></script>
	<script type="text/javascript" charset="utf-8">
	<!--
	function Calibrators(){
		this.data = {};
		this.data.calibrators = {{calibrators}};
		this.data.dates = {{ dates|safe }};
		this.data.cats = {{ cats|safe }};
		
		this.init();
		
		return this;
	}
	Calibrators.prototype.init = function(){
		var c, cal, d;

		this.cals = [];

		for(c = 0; c < this.data.calibrators.length ; c++){
			cal = this.data.calibrators[c];
			d = [];
			for(i = 0; i < cal.length ; i++) d.push({x:this.data.dates[i]*1000,y:cal[i]});
			id = 'graph-'+(c+1);

			this.cals[c] = new Calibrator({calibrator:c,parent:$('#lightcurves'),values:d,meta:this.data.cats[c]});


		}
	}
	
	function Calibrator(inp){
		this.calibrator = (inp.calibrator) ? inp.calibrator : 0;
		this.parent = (inp.parent) ? inp.parent : $('#lightcurves');
		this.values = (inp.values) ? inp.values : [];
		this.meta = (inp.meta) ? inp.meta : {};

		this.decs = ["D","N","O","B","P","R"];
		this.id = this.calibrator+1;
		this.options = {
			xaxis:{ label:'Time', mode:'time' },
			yaxis: { label: 'Relative magnitude' },
			grid: { hoverable: true, clickable: true, background: 'white' }
		};

	
		this.init();
		return this;
	}
	Calibrator.prototype.init = function(){
		var decisions,el,id,ds,n;

		this.parent.append('<div class="calibrator" id="calibrator-'+this.id+'"><h3>'+(this.id)+'. '+this.meta.catalogue+' '+this.meta.sourcename+'<\/h3><div id="graph-'+this.id+'" class="graph"><\/div><div class="decisions"><\/div><\/div>');
		this.el = this.parent.find('#calibrator-'+this.id);

		decisions = '';
		el = this.el.find('.decisions');

		// Loop over each decision and output the icon/number
		for(ds = 0 ; ds < this.decs.length ; ds++){
		    
			n = (this.meta.decisions[this.decs[ds]] ? this.meta.decisions[this.decs[ds]] : 0);
			el.append('<div class="decision'+(n==0 ? " zero" : "")+'"><a href="{% url 'agentex_all_calib planetid' %}'+this.meta.sourceid+'/" class="'+this.decs[ds]+'" data="'+n+'">'+this.decisionImage(this.decisionFull(this.decs[ds]))+'<\/a>'+n+'<\/div>');
			// Attach click events to the decision images
			el.find('.decision a.'+this.decs[ds]).bind('click',{me:this,decision:this.decs[ds]},function(e){

				e.preventDefault();

				if(e.data.decision=="D"){

					e.data.me.json = $(this).attr('href');
					if(e.data.me.el.find('.breakdown').length > 0) e.data.me.el.find('.breakdown').remove();
					else e.data.me.getUserGraphs();

				}
			});
		}

		el.append('<br /><input type="checkbox" '+((this.meta.include == true) ? "checked=checked" : "")+' /> Use in final lightcurve');

		el.find('input').change({me:this},function(e){

			e.preventDefault();
			e.data.me.toggleCalibrator($(this));

		});


		// Attach to the DOM element with the ID 'lightcurve'
		graph = $.graph('graph-'+this.id, {
			data:this.values,
			color: '#d62728',
			points: { show: true },
			lines: { show: true ,width: 1.5 },
			clickable: false,
			hoverable: true,
			css: {
			  'font-size': '0.9em',
			  'background-color': '#d62728'
			}

		}, this.options);


	}
	Calibrator.prototype.getUserGraphs = function(){
		// Do something
		var _obj = this;

		$.getJSON(this.json,function(data){
			
			var i,c,d,id,breakdown;

			// Remove any existing breakdown
			_obj.el.find('.breakdown').remove();
			_obj.el.append('<div class="breakdown"><\/div>');
			breakdown = _obj.el.find('.breakdown');
			breakdown.html('<h3>Measurements classified as &quot;dip&quot;<\/h3>');
			
			var opts = {
				xaxis:{ label:'Time', mode:'time' },
				yaxis: { label: 'source/calibrator' },
				grid: { hoverable: true, clickable: true, background: 'white' }
			};

			_obj.user = [];

			for(i = 0; i < data.data.length ; i++){
				d = [];
				for(c = 0; c < data.data[i].length ; c++){
					//if(data.data[i][c] != 0) 
					d.push({x:data.timestamps[c]*1000,y:data.data[i][c]});
				}
				id = _obj.id+'-'+(i+1);
				breakdown.append('<div class="user-calibrator" id="'+id+'-holder"><div id="'+id+'" class="graph"><\/div><div class="included"><h4>'+(i+1)+': '+data.people[i]+'<\/h4><input type="checkbox" '+(data.include[i] ? 'checked="checked"' : '')+'/> Use<\/div><\/div>');


				// Attach to the DOM element with the ID 'lightcurve'
				graph = $.graph(id, {
					data:d,
					color: '#1e77b4',
					points: { show: true, radius: 2 },
					lines: { show: false ,width: 1 },
					clickable: false,
					hoverable: true,
					css: {
					  'font-size': '0.9em',
					  'background-color': '#1e77b4'
					}
				}, opts);
				
				_obj.user[i] = { id: id, name: data.people[i], input: breakdown.find('#'+id+'-holder .included input') };

				_obj.user[i].input.bind('change',{me:_obj,i:i},function(e){

					e.data.me.toggleUser(e.data.i);

				});
			}

		});
	}
	Calibrator.prototype.toggleCalibrator = function(input){
		var state = (input.is(":checked")) ? true : false;
		var _obj = this;

		$.ajax({
			type: 'POST',
			url: '{% url 'agentex_all_calib planetid' %}'+this.meta.sourceid+'/',
			data: { include: input.is(":checked"),csrfmiddlewaretoken: '{{ csrf_token }}' },
			success: function(data) {
			},
			dataType: 'json'
		});
	}

	Calibrator.prototype.toggleUser = function(i){
		var state = (this.user[i].input.is(":checked")) ? true : false;
//		this.el.find('.savelink').removeClass('fancybtndisable');
		this.saveUsers();
	}
	Calibrator.prototype.saveUsers = function(){
		var u = [],checked;
		var _obj = this;
		for(var i = 0; i < this.user.length; i++){
			checked = (this.user[i].input.is(":checked")) ? true : false;
			if(checked) u.push(this.user[i].name);
		}
		$.ajax({
			type: 'POST',
			url: '{% url 'agentex_all_calib planetid' %}'+this.meta.sourceid+'/',
			data: { 'user': u,csrfmiddlewaretoken: '{{ csrf_token }}' },
			success: function(data) {
			},
			traditional: true,
			dataType: 'json'
		});	
	}
	Calibrator.prototype.decisionFull = function(d){
		if(d == "D") return "dip";
		if(d == "N") return "nodip";
		if(d == "O") return "odd";
		if(d == "B") return "blip";
		if(d == "P") return "periodic";
		if(d == "R") return "other";
	}
	Calibrator.prototype.decisionShort = function(d){
		if(d == "dip") return "D";
		if(d == "nodip") return "N";
		if(d == "odd") return "O";
		if(d == "blip") return "B";
		if(d == "periodic") return "P";
		if(d == "other") return "R";
	}
	Calibrator.prototype.decisionImage = function(d){
		return '<img title="Classified as '+d+'" alt="'+d+'" src="{{STATIC_URL}}images/choice_'+d+'.png">';
	}


	$(document).ready(function(){

		var calibrators = new Calibrators();

	});
		
	// -->
	</script>
{% endblock %}

{% block coltype %}{% endblock %}

{% block content %}
<div id="content-main">

    {% comment %}
    {% for c in cats %}
    <a href="{% url agentex_admin_calib planetid c.sourceid %}">{{c.sourcename}}</a> - {{c.decisions}}</br>
    {% endfor %}

    {% endcomment %}
    <p>To include data points the "use in final lightcurve" checkbox for a calibrator AND the "Use" checkboxes need to be checked.</p>
	<div id="lightcurves"></div>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
